[2019-08-08 20:38] gsidebo opened #973 "Enable professional course enrollment mode"
#### Summary

PR #970 changes edX enrollment to use the `no-id-professional` enrollment mode instead of `audit`. Allowing users to enroll with that mode requires some config changes and some added data.

1. The `OPENEDX_API_KEY` env var – This value should match the `EDX_API_KEY` setting in Open edX
1. _(Might already be done)_ The `no-id-professional` enrollment mode needs to be made available in

[2019-08-09 06:10] #831 closed

[2019-08-09 09:05] #941 closed

[2019-08-09 14:07] #966 closed

[2019-08-09 16:48] pdpinch opened #978 "Admin: Interface for changing user's export compliance result"
As an admin, I need a way to change the export compliance status of a user, after the user has been reviewed by the export compliance office.

#### Acceptance Criteria:

- [x] Either a management command, or a django-admin interface that can change the value of `ExportsInquiryLog.computed_result`  to `ExportsInquiryLog.RESULT_MANUALLY_APPROVED`
- [x] should also update `User.is_active` to True, so

[2019-08-09 18:29] pdpinch opened #980 "Coupons: improve product selection"
As an admin, I'm finding it very difficult to choose the products when I create a coupon using the coupon creation form. I'd like to be able to see product (readable) ids for all products, and I'd like to see courserun dates for courserun products.

It would also be nice if I could filter on partial product ids, like `SysEngX`

#### Acceptance Criteria:

- [x] Make the selection box wider
- [x] fo

[2019-08-09 18:34] pdpinch opened #981 "Coupons: coupon form says tag is optional, but API returns a 400"
### Steps to Reproduce

1. Go to /ecommerce/admin/coupons/
2. Create a coupon with no value for the Tag field
3. Click Create Coupons

### Expected Behavior

- coupon is created, or there is a validation error message

### Actual Behavior

- API returns a 400 because the Tag field is empty
- no visible error message

### Screenshot or Screencast

![image](https://user-images.githubusercontent.com/

[2019-08-09 20:57] pdpinch opened #983 "User redeemed voucher coupon, but no link in voucher table"
I'm not sure if this is an actual bug, but I've noticed it enough times that I want to write down the details.

When we were suffering from IE bugs on the checkout page, we had a number of users who uploaded a voucher and got a coupon, but were unable to checkout. So they opened a ZenDesk ticket.

By the time we reviewed the ticket, these users had enrolled somehow, using the coupon associated wit

[2019-08-12 12:11] rhysyngsun opened #984 "Cron task to repair courseware user records"
We currently have the management command `repair_missing_courseware_records` to manually identify and repair users who have missing courseware user and/or auth records. We should automate this so that we don't have to keep as much of an eye on this.

- [ ] Add a task to repair records for users who don't have `CoursewareUser` and/or `OpenEdxApiAuth` records (see `repair_missing_courseware_records.

[2019-08-12 12:15] rhysyngsun opened #985 "Cron task to repair edx enrollments"
We currently have a management command (`retry_edx_enrollment`) to repair edx enrollments. However, this requires us to identify that the problem exists and to manually run the command, so we should automate this so the system self-repairs.

- [ ] Add a task to run the equivalent of `retry_edx_enrollment` across enrollments with `edx_enrolled=False`
- [ ] Log errors if a user can't be repaired so

[2019-08-12 16:00] pdpinch opened #986 "open edX: course emails shoudl be from xpro@mit.edu"
### Steps to Reproduce

1. Go to the instructor dashboard in an edX course, e.g. https://courses-rc.xpro.mit.edu/courses/course-v1:edX+DemoX+Demo_Course/instructor#view-send_email
2. Send a mail to yourself

### Expected Behavior

- mail should come from one, consistent email address. Currently that is xpro@mit.edu although we may want to change that once we have an xpro.mit.edu mailserver.

### A

[2019-08-12 16:00] #375 closed

[2019-08-12 16:13] mbertrand opened #987 "Blank education field on the profile form causes a validation error"
### Steps to Reproduce

Edit your profile and leave education blank, then submit.

### Expected Behavior

The form validates and saves.

### Actual Behavior

There is a hidden validation error and the profile view page loads without the changes saved.

[2019-08-12 17:08] pdpinch opened #988 "Deferred user is still enrolled in original course"
### Steps to Reproduce

See this query: https://bi.odl.mit.edu/queries/777

The user was deferred from a spring run into a fall run. As far as I can tell, they are a) still enrolled in open edX and b) xPRO thinks they are still enrolled, even though the active field on the enrollment record is set to false.

I haven't been able to find any errors recorded in Sentry.

FYI @maxliu

[2019-08-12 17:18] gsidebo commented on #988
We probably should have had an issue in this repo too, but we knew about this, and an issue exists in the edx-api-client repo: https://github.com/mitodl/edx-api-client/issues/60

Ouch. I'll see if I can reproduce

[2019-08-12 17:27] pdpinch commented on #988
Oh, that's right. You told me about that and I forgot.

[2019-08-12 18:20] #987 closed

[2019-08-12 18:32] pdpinch opened #991 "Coupon expiration dates are in UTC, and a day earlier than expected"
### Steps to Reproduce

1. Create a coupon using the form at /ecommerce/admin/
2. Set the expiration date to be tomorrow

### Expected Behavior

- The coupon should expire at the end of the day tomorrow, which is 23:59 EDT, more or less.

### Actual Behavior

- The coupon is set to expire at 00:00 UTC tomorrow, which ends up being around 7pm EST today.

[2019-08-12 19:00] shaidar commented on #986
Fixed on RC and Production and tested.

[2019-08-12 19:00] #986 closed

[2019-08-12 20:51] gsidebo commented on #988
@pdpinch Can you provide more detail re: "xPRO thinks they are still enrolled"? Does that mean the user dashboard is still showing that enrollment?

[2019-08-13 15:22] pdpinch opened #992 "Vouchers: display course dates in the drop-down when confirming course choice"
As a voucher user, I can't tell the difference between the multiple course runs in the drop down when I confirm the course I'm trying to enroll in. Making it worse, the results aren't even sorted in date order.

#### Screenshot

<img width="816" alt="image" src="https://user-images.githubusercontent.com/430126/62953948-78d16180-bdbc-11e9-9150-3fc349c60ecf.png">

#### Acceptance Criteria:

- [ ] di

[2019-08-13 15:33] pdpinch commented on #992
I think we should also omit courseruns that aren't "Live" from this list.

[2019-08-13 16:59] sentry-io[bot] opened #993 "defer_enrollment email input is case sensitive"
Sentry Issue: [XPRO-HV](https://sentry.io/organizations/mit-office-of-digital-learning/issues/1156644206/?referrer=github_integration)

[code]

[2019-08-13 17:08] pdpinch commented on #714
Sar and I took care of this.

[2019-08-13 17:08] #714 closed

[2019-08-13 17:10] pdpinch commented on #714
I made some gists for the templates:

[HTML template](https://gist.github.com/pdpinch/4eb6056ffedffd3cc446f1b23107ccfe)
[txt template](https://gist.github.com/pdpinch/4cd4c5732ce7d06a15b02d5230875ee8)

[2019-08-13 18:04] gsidebo opened #994 "Enrollment management commands don't update "edx_enrolled" property"
### Steps to Reproduce

Use one of the enrollment management commands that creates a new enrollment (e.g.: `transfer_enrollment` - `manage.py transfer_enrollment --from-user "a@b.com" --to-user "c@d.com" --run "course-v1:some+course"`)

### Expected Behavior

The new `CourseRunEnrollment` created for the "to" user has `edx_enrolled=True` (if the edX enrollment request succeeded)

### Actual Behavi

[2019-08-13 18:04] gsidebo opened #995 "Enrollment management commands don't update "edx_enrolled" property"
### Steps to Reproduce

Use one of the enrollment management commands that creates a new enrollment (e.g.: `transfer_enrollment` - `manage.py transfer_enrollment --from-user "a@b.com" --to-user "c@d.com" --run "course-v1:some+course"`)

### Expected Behavior

The new `CourseRunEnrollment` created for the "to" user has `edx_enrolled=True` (if the edX enrollment request succeeded)

### Actual Behavi

[2019-08-13 19:00] gsidebo commented on #994
Accidentally created twice

[2019-08-13 19:00] #994 closed

[2019-08-14 15:47] #995 closed

[2019-08-14 17:41] pdpinch opened #1001 "Reports: add link to checkout page to Master Product List"
As a member of the customer support team, it would help me to be able to get a URL for the checkout page for products that don't otherwise appear in the catalog, for example, SPOCs.

#### Acceptance Criteria:

- [x] add a column "checkout URL" which concatenates the checkout page with the product id

[2019-08-14 17:42] pdpinch commented on #1001
draft version at https://bi.odl.mit.edu/queries/780/source

[2019-08-14 18:36] gsidebo opened #1002 "Users can end up with multiple enrollments"
Locally and in RC, I've run into instances where a user has multiple `CourseRunEnrollment` records for the same course. This causes a lot of problems with making changes to a user's enrollment in a course. We should be enforcing uniqueness with user/run, and if a user enrolls in a course run under any circumstances and they already have an existing one, that existing one should be updated rather t

[2019-08-14 18:39] pdpinch commented on #1002
Whatever we do, we have to accommodate the possibility that:

1. User purchases enrollment in a course run
2. User get a refund
3. User purchases enrollment in the same course run.

This is can happen when a user purchased the course individually and then got a refund in order to use an enrollment code from a B2B purchase.

[2019-08-14 18:43] maxliu commented on #1001
@pdpinch Can you provide me an example of "checkout URL" ?

[2019-08-14 19:55] noisecapella opened #1005 "Fix autoprefixer browsers warning"
Travis has started outputting this warning:

      Replace Autoprefixer browsers option to Browserslist config.
      Use browserslist key in package.json or .browserslistrc file.
      Using browsers option cause some error. Browserslist config
      can be used for Babel, Autoprefixer, postcss-normalize and other tools.
      If you really need to use option, rename it to overrideBrowserslist.

[2019-08-14 20:12] noisecapella opened #1006 "Flaky coupon test"
I've noticed this test fail on occasion:
https://travis-ci.org/mitodl/mitxpro/jobs/571975880#L1137

        def test_coupon_csv_view(admin_client, admin_drf_client, single_use_coupon_json):
            """ Test that a valid csv response is returned for a CouponPaymentVersion """
            data = single_use_coupon_json
            api_response = admin_drf_client.post(reverse("coupon_api"), type="

[2019-08-14 20:54] #993 closed

[2019-08-15 11:35] pdpinch opened #1007 "repair_missing_courseware_records should skip inactive accounts"
### Steps to Reproduce

1. Run the `repair_missing_courseware_records` management command in production

### Expected Behavior

It should skip trying to repair any inactive accounts. The accounts are inactive for a reason (they are retired, or they did not pass the SDN check) and we should not try to repair them, since the user can't log in anyway.

The noise of these expected failures discourages

[2019-08-15 13:04] pdpinch commented on #1007
@rhysyngsun I'm curious to get your opinion on this. Should we make this change?

(and btw, it's down to 76 now after manually overriding an export compliance result)

[2019-08-15 13:58] rhysyngsun commented on #1007
Yes we should definitely do this

[2019-08-15 13:58] rhysyngsun commented on #1007
I think a majority of these were folks who abandoned registration

[2019-08-15 16:09] maxliu commented on #1001
add to the original query on BI
https://bi.odl.mit.edu/queries/669/source#1068

[2019-08-15 17:42] pdpinch commented on #1001
Thanks Max. Tim is pleased.

[2019-08-15 17:42] #1001 closed

[2019-08-16 10:19] asadiqbal08 commented on #877
What is meant by `automatically` ? Is there any particular task/job scheduled on backend that will do that stuff auto ?

There is ambiguity in this statement. Is it
`if the user passed each course in a program` *OR*
`if the user passed one course in a program` ?

It would be nice if we handle the CourseRunCertificate and ProgramCertificate separately in different stories.

[2019-08-16 10:59] pdpinch commented on #918
@ahmed-arbisoft can this be closed now that #918 merged?

[2019-08-16 11:03] pdpinch opened #1009 "Add courserun.expiration_date to django admin"
As an admin, it would be convenient to view and change all the courerun dates in the same view.

#### Acceptance Criteria:

- [ ] Add expiration date to the admin at, for example,  /admin/courses/courserun/1

[2019-08-16 11:04] pdpinch commented on #1009
Not sure how we missed this. It was a checkbox on #918

[2019-08-16 11:06] pdpinch commented on #877
Fair point. I will split this into two issues. I will do the same with #874

[2019-08-16 11:10] pdpinch commented on #832
This didn't work the way we had thought and will need a proper theme change. I'll open a replacement issue.

[2019-08-16 12:31] ahmed-arbisoft commented on #874
@pdpinch does it make sense to break out the grade sync portion into another story? I guess grades should be synced automatically and should be a scheduled job that can run every set interval to get the latest grades from OpenEdX. I can go ahead and write that part in this command although we will have to extract that part later on for #877 anyway so there isn't duplication of code.

[2019-08-16 13:03] pdpinch commented on #874
I think we’re oversolving the grades part of this. There’s no grade on the certificate. There’s no grade on the xPRO dashboard. I have been told that all learners care about is the certificate, which should be passed on the boolean `passed`. We only have to use the grades API to fetch the passed status from open edX.

But let me check with the course teams before I continue with that assumption.

[2019-08-16 15:16] pdpinch commented on #656
Looks good to me, on CI, RC and prod versions of studio and courses.

[2019-08-16 15:16] #656 closed

[2019-08-16 15:36] rhysyngsun opened #1011 "Fix warnings around ecommerce/bulk url mappings"
If you run a management command you'll see this output:
[code]

[2019-08-16 15:53] rhysyngsun opened #1012 "Transfer/Create enrollment commands don't rollback on edx failure"
As an administrator for courses, I want to be able to transactionally transfer and create enrollments with xPRO and edX.

**Details**
Currently, when the commands are run, the xPRO side may execute successfully, but fail on the edX side. Ideally, the commands could be run two different ways:

* **Transactionally** - in this case, if the operation fails on the edX side, the xPRO side rolls back
* *

[2019-08-16 17:32] pdpinch opened #1013 "open edX theme: link "Explore Courses" on empty dashboard to xPRO catalog"
Learners shouldn't end up on the open edX dashboard, but if they do we should help them get back to where they belong.

#### Screenshot

<img width="1632" alt="image" src="https://user-images.githubusercontent.com/430126/63186306-25644b00-c02a-11e9-90c0-9d1335e11aee.png">

#### Acceptance Criteria:

- [ ] Link the "Explore courses" to the xPRO dashboard -- the same URL as the "catalog" link in the

[2019-08-16 20:47] #653 closed

[2019-08-16 20:47] #652 closed

[2019-08-16 20:52] pdpinch opened #1015 "open edX theme: TOS, privacy policy and honor code links"
As a user, I'd like to have easy-to-find links to the TOS, Privacy Policy, and Honor Code

The configuration settings for TOS, privacy policy and honor code don't work with the fully-qualified URLs that we need to use.

#### Designs and Mockups

![image](https://user-images.githubusercontent.com/430126/61188687-ff294500-a650-11e9-92c5-223132abc3fa.png)

#### Acceptance Criteria:

- [x] static link

[2019-08-16 20:53] pdpinch commented on #832
closed in favor of #1015

[2019-08-16 20:53] #832 closed

[2019-08-17 07:14] #918 closed

[2019-08-17 07:23] ahmed-arbisoft commented on #1009
@pdpinch is this anything different from this? I already added the field to the resource change form. Do you want a different interface? The screenshot is from RC Django admin.

![Screenshot from 2019-08-17 12-22-37](https://user-images.githubusercontent.com/45350418/63208105-bf3efd00-c0e9-11e9-9c87-cb4655c49270.png)

[2019-08-17 09:00] asadiqbal08 commented on #924
@pdpinch is it still exist ? Me and @tasawernawaz trying to produce it over Safari but seems identical on both Chrome + Safari.

[2019-08-17 15:23] #939 closed

[2019-08-17 15:28] pdpinch opened #1016 "set `ROBOTS_CACHE_TIMEOUT` to default value in production"
#### Summary

We temporarily reduced `ROBOTS_CACHE_TIMEOUT` so we could easily change and validate robots.txt change.

Now that the setting is more stable, we should revert to the default -- which I think is 24hours.

- remove `ROBOTS_CACHE_TIMEOUT`

#### Applicable Environments

- [x] Apply configuration to Production

[2019-08-17 15:35] pdpinch commented on #988
Specifically, the value for `edx_enrolled` was still `True` on the "from" enrollment record.

The issue cleared when I ran the `retry_edx_enrollment` command for the user. You can't see it any more in the query mentioned in the description.

[2019-08-17 15:49] pdpinch commented on #1009
Sorry, my mistake. I didn't realize the code hadn't been deployed yet.

[2019-08-17 15:49] #1009 closed

[2019-08-17 15:59] pdpinch commented on #973
This is more or less functional, the remaining issue is that the `no-id-professional` enrollment mode is not the default. We need to create the mode (via django admin in open-edx) in any new course.

mitodl/salt-ops#969 is currently deployed to CI where we are testing it. I'm hopeful that once mitodl/salt-ops#969 is deployed to production, `no-id-professional` will become the default.

[2019-08-17 16:04] pdpinch commented on #924
I can't reproduce it now either.

The console errors are still there, but I don't see how they are affecting behavior.

[2019-08-17 16:04] #924 closed

[2019-08-17 16:14] pdpinch opened #1017 "Turn on Sysadmin panel in xpro-ci"
#### Summary

It would be convenient to use the sysadmin panel in xpro-ci. It appears to be turned on in RC and production, just not in CI.

- `EDXAPP_ENABLE_SYSADMIN_DASHBOARD` - True

#### Applicable Environments

- [ ] Apply configuration to CI

[2019-08-17 16:34] pdpinch opened #1018 "open edX: remove, or change link of "Enroll Now" button"
### Steps to Reproduce

1. Create an xPRO account on RC, and confirm that your open edX account was created successfully
2. Navigate directly to a course on RC, e.g. /courses/course-v1:xPRO+LASERx3+R2/course
3. You will see a message "You must be enrolled in the course to see course content."

### Expected Behavior

Either:
- there is no enroll button, or
- clicking the enroll button links to the

[2019-08-18 20:13] pdpinch opened #1019 "Hubspot: add product id to product metadata"
See https://app.hubspot.com/settings/4994459/sales/products

#### Acceptance Criteria:

Either:
- [ ] push the product id into the product description, which is currently a duplicate of the product name,
- [ ] or, add a new field for the product id

[2019-08-18 20:41] pdpinch opened #1020 "Voucher: replace mailto links with link to customer support page"
As a user, I'd like to see a consistent link to the customer support site, https://xpro.zendesk.com/hc/en-us/requests/new

#### Designs

[InVision](https://invis.io/WDRNN8N2BT8#/373418602_Uplaod_Voucher_No_Match)

[2019-08-18 20:55] pdpinch opened #1021 "Add faculty model"
As a member of the marketing team, it would be easier for me to manage faculty information across multiple courses if I could have a central place to enter faculty information and then I could just choose which faculty teach which courses.

As a consumer of program API (like open-discussions course search), I need accurate, structure information about instructors in courses.

#### Acceptance Crite

[2019-08-18 20:58] pdpinch opened #1022 "Product Page: use central faculty data instead of per-page data"
As a member of the marketing team, it would be easier for me to manage faculty information across multiple courses if I could have a central place to enter faculty information and then I could just choose which faculty teach which courses.

#### Designs and Mockups

no design change from current implementation

#### Acceptance Criteria:

- [ ] Update the [faculty carousel template](https://github.

[2019-08-18 21:01] pdpinch opened #1023 "update the programs API to include faculty info"
Follow up to #1004

As a consumer of program API (like open-discussions course search), I need accurate, structured information about instructors in courses.

#### Acceptance Criteria:

- [ ] Render the data similarly to [the person model in the edX catalog API](https://course-catalog-api-guide.readthedocs.io/en/latest/course_catalog/catalog.html#person):

#### Related issues

- #1021 Add faculty

[2019-08-18 23:00] pdpinch commented on #474
I think we can close this now that no-id-professional certificates are functional in production. The only remaining issue is to set them to be the default (in https://github.com/mitodl/salt-ops/pull/969) so we don't have to create a course mode for every new course.

[2019-08-18 23:00] #474 closed

[2019-08-18 23:02] pdpinch commented on #111
I think this is working now, but it would be worth testing it all the way through at least one more time.

[2019-08-19 00:59] Ferdi commented on #1019
they are suppose to recognize product ID , so that should be fine

[2019-08-19 07:13] ahmed-arbisoft commented on #874
@pdpinch could you please explain "if user passed *one* of *each* course in a program"? Is that supposed to mean all courses or any of the courses?

[2019-08-19 11:29] tasawernawaz commented on #992
@pdpinch Could you please list down the steps to reproduce this issue?

[2019-08-19 12:57] tasawernawaz commented on #971
@pdpinch I have asked question about overriding `common/static/common/templates/discussion/thread-show.underscore` and came to know that we cannot override as it is not yet supported. We have to make this change in our forked repo. Let me know if we want to do this change in our forked repo.

Ref: https://openedx.slack.com/archives/C02SNA1U4/p1566217501199300

[2019-08-19 13:07] pdpinch commented on #971
Tasawer, do you think it would be feasible to fork edx, move the template into /lms/templates and then handle the override as we normally would?

edX might be willing to take an upstream PR that moves the template to a better location.

[2019-08-19 13:28] tasawernawaz commented on #971
@pdpinch We have already forked open edX instance. All discussion related templates are in `common/` directory, it may not easy to move it whole.
https://github.com/mitodl/edx-platform/tree/47a7fcda4e51efea9499772fa6fce866e3a84113/common/static/common/templates/discussion. It may require to move whole app, which can break many things.

[2019-08-19 14:00] mbertrand opened #1025 "Coupons shouldn't be reusable if orders they were used for are refunded"
### Steps to Reproduce

- Order a course with a coupon
- Refund that course
- Order that course or another eligible course with the same coupon

### Expected Behavior

Coupon is rejected

### Actual Behavior

Coupon is accepted

The code that needs to be changed is in `ecommerce.api.get_valid_coupon_versions`:
[code]

[2019-08-19 14:05] pdpinch commented on #1025
I don't understand the original purpose of this code. What was it for?

[2019-08-19 14:13] mbertrand commented on #1025
In general, it checks to make sure there aren't more redemptions than allowed for the coupon, per individual user and globally (the `max_redemptions_per_user` and `max_redemption` fields on `CouponPaymentVersion`).  The order status filter was added on the assumption that if the order isn't fulfilled, then the coupon hasn't really been redeemed.  For instance something might go wrong with CyberSec

[2019-08-19 14:47] shaidar commented on #1016
This was applied and then reverted

[2019-08-19 14:47] #1016 closed

[2019-08-19 14:50] asadiqbal08 opened #1026 "EdxApiClient Worker User"
Instead of initializing the `edx-api-client` with current user, there should be a service-worker-user in MitxPro through which a communication-channel should be established with OpenEdx via using [edx-api-client](https://github.com/mitodl/edx-api-client/tree/1177d81c61e06de7d6a8a172a3429c470ad3c53f/edx_api)

@ahmed-arbisoft @pdpinch

[2019-08-19 16:08] noisecapella opened #1027 "Order fulfillment endpoints need to be combined"
https://sentry.io/organizations/mit-office-of-digital-learning/issues/1148712283/?project=1413655&query=is%3Aunresolved

Cybersource only provides one endpoint for order fulfillment, per test or production environment, so we will need to remove the b2b endpoint and instead use the reference number prefix to decide which order fulfillment workflow should handle the request.

[2019-08-19 16:20] pdpinch commented on #1027
Can you be more specific about what you mean by "reference number prefix" and also propose a naming scheme for that?

Does this get reflected in the "Merchant Reference Number" in Cybersource? If so, I think the currently values are a bit messy currently anyway, e.g. for an export compliance check the values is `2416` but for a course order the value is`MITXPRO-xpro-production-1320`.

[2019-08-19 16:56] noisecapella commented on #1027
Yes, I think the "Merchant Reference Number" is what I was referring to. We can choose any name for a prefix, even just "xpro-" and "xpro-b2b-" to differentiate them. Or we can look at other fields which say what the type of the product being purchased is though I think that's tricky if in the future we do more than one item in an order in a purchase.

[2019-08-19 18:30] blarghmatey commented on #16
@pdpinch what is the intent of this ticket and is it still relevant?

[2019-08-19 18:45] shaidar commented on #1017
Deployed to CI

[2019-08-19 18:45] #1017 closed

[2019-08-19 18:53] pdpinch commented on #1026
@shaidar @gsidebo did we set up a service worker on the open edX side for OVS to communicate with?

[2019-08-19 20:00] shaidar commented on #1026
We created a service account on the openedx side and assigned it an oauth2 token which is what the OVS app is using to communicate with openedx.

[2019-08-20 01:41] pdpinch opened #1029 "Certificates: management command for creating course certificates"
As a PM, I'd like to be able to request ad hoc creation of course certificates

#### acceptance criteria

- Inputs:
  - courserun readable_id
  - email (optional; default is to attempt certificates for all _enrolled_ users)
  - grade (optional; overrides the final grade for a single user)
     - setting a grade to 0 has the effect of "blacklisting" the learner; they cannot get a certificate
     -

[2019-08-20 01:47] pdpinch opened #1030 "Certificates: create program certificate when user has certificates in all courses in a program"
As a user, I would like to get access to a program certificate when I have met the program requirements. Currently, all programs require that I have a certificate for every course in the program.

#### Acceptance Criteria:

- [ ] fire a django-signal whenever a course certificate is generated
- [ ] when the signal is fired, if the user has a certificate for every course in the program, generate a

[2019-08-20 01:57] pdpinch commented on #877
Thanks for the questions @asadiqbal08. I'm going to answer them out of order, because I think it will be clearer.

I've narrowed the scope of this issue to just course certificates. I think we can use a django signal for program certificates, similar to what we did for [MicroMasters program certificates](https://github.com/mitodl/micromasters/pull/3524) -- see #1030

I'm expecting this PR will inc

[2019-08-20 02:04] pdpinch commented on #873
@asadiqbal08 I think I can close this, since #873 merged.

[2019-08-20 02:04] #873 closed

[2019-08-20 02:06] pdpinch commented on #971
Thanks @tasawernawaz. I think we'll have to fork open edX, but I'm not yet sure how we want to go about this. Since there are many places, besides discussions, where we would like to use the user's full name instead of their username, we may want to introduce a feature flag.

[2019-08-20 02:12] pdpinch opened #1031 "xpro.mit.edu mail server"
As a user, I'd like to have all my xPRO interactions be with xpro.mit.edu and not with email coming from mit.edu.

#### Acceptance Criteria:

- [ ] the return address on all outgoing mail should be address@xpro.mit.edu instead of xpro@mit.edu
- [ ] all incoming mail will be routed to ZenDesk, at least for now

#### Related issues

- To do this, xpro.mit.edu needs to be a DNS A record, and not a CN

[2019-08-20 02:12] pdpinch commented on #1031
@blarghmatey let me know what other issues we need in this epic

[2019-08-20 08:49] asadiqbal08 commented on #1029
@ahmed-arbisoft related to courses only ... pointing #874

[2019-08-20 09:21] ahmed-arbisoft commented on #1026
@shaidar is this token already setup in xPRO environment somewhere? If yes, what key will it be available at? If not, could you please tell me what key it should be at so I can create a ticket for you to set it up on the environment?

[2019-08-20 09:36] ahmed-arbisoft commented on #1026
@shaidar following the example from OVS, I'm expecting the value to be available in `EDX_ACCESS_TOKEN` environment variable on the deployment. If that's fine with you I'll create an environment configuration request issue for you with the details.

[2019-08-20 09:36] tasawernawaz commented on #971
@pdpinch we have already our own forked edx-platform repo. We can do change and merge it in `xpro/ironwood` branch. I like the idea of having a flag where we are making changes directly in edx-platform.

For the templates under `lms` and `cms` we can simply override them. Do we want to hide those changes behind flag as well ?

[2019-08-20 12:11] pdpinch commented on #874
I'm going to separate the course certificates and the program certificates.

- #1029 Management command for creating course certificate
- #1030 create program certificate when user has certificate in all courses in program

[2019-08-20 12:11] #874 closed

[2019-08-20 12:49] pdpinch commented on #992
@mbertrand can you review these steps?

1. Create a company at /admin/ecommerce/company/
2. Set VOUCHER_COMPANY_ID = the id for the company you created
3. Ask @mbertrand for the other voucher settings, and for a test voucher
4. Create a course, multiple courseruns, multiple (courserun) products and product version. They should have the same course number and name as the test voucher, but should va

[2019-08-20 12:51] pdpinch commented on #992
I forgot, we have test vouchers in the repo at https://github.com/mitodl/mitxpro/tree/master/voucher/.test

[2019-08-20 12:53] #1013 closed

[2019-08-20 12:56] pdpinch opened #1033 "Vouchers: seed data for vouchers"
As a developer, I need an easy way to set up my development environment for testing vouchers.

#### Acceptance Criteria:

- [x] check the necessary application settings and error out if they are null, with a message explaining how to set them for testing
- [x] create a company for testing
- [x] create a course and courseruns that correspond to the test vouchers in https://github.com/mitodl/mitxpro

[2019-08-20 12:57] pdpinch commented on #992
I created an issue for a seed data script, https://github.com/mitodl/mitxpro/issues/1033

[2019-08-20 12:58] mbertrand commented on #992
For step 5:
-  go to `/ecommerce/admin/coupons` as an admin user
- Choose the following:
  - 'Coupon codes'
  - 'Number of coupon codes': about 10 is probably more than enough
  - Percentage Discount: 100
  - Valid from: today or earlier
  - Course runs: select the course runs that the voucher is good for
  - Company: the company in step 1

[2019-08-20 13:31] shaidar commented on #1026
@asadiqbal08 @ahmed-arbisoft Before configuring anything, can you please explain what this will be used for? The one that was configured for video was so that the video app could directly communicate with the openedx instance. In brief, what are we trying to accomplish here?

[2019-08-20 13:34] asadiqbal08 commented on #1026
Need to fetch grades info. #874

[2019-08-20 13:49] mbertrand commented on #992
There's also a whole bunch of .env variables that need to be set - `VOUCHER_DOMESTIC_*` and `VOUCHER_INTERNATIONAL_*` - to match whatever the sample voucher pdf's are using

[2019-08-20 14:14] tasawernawaz commented on #992
@pdpinch @mbertrand thanks, I will try these steps and will ask if I need something.

[2019-08-20 14:24] noisecapella commented on #1011
Fixed in #958

[2019-08-20 14:24] #1011 closed

[2019-08-20 14:26] blarghmatey commented on #1031
This is currently blocked by mitodl/salt-ops#988

[2019-08-20 14:28] blarghmatey commented on #1031
The overall steps are:
- [ ] Create cloudfront distribution
- [ ] Update xpro.mit.edu DNS record from CNAME to A record pointing at Cloudfront
- [ ] Configure Mailgun for inbound mail routing to Zendesk
- [ ] Create MX record for xpro.mit.edu

[2019-08-20 14:40] rhysyngsun commented on #951
It's possible this is a race condition with a form double submit

[2019-08-20 16:37] #926 closed

[2019-08-20 17:41] noisecapella opened #1034 "B2B Enrollment code CSV should include link to checkout page for the code and product"
As an enrollment code purchaser, I'd like to have links already created which direct the end user to the checkout page for the product and coupon code.

#### Acceptance Criteria:

- [ ] CSV should include both the enrollment code and an absolute link to the checkout page for that server. We should include a header row in the CSV to make it easier to tell which is which.

[2019-08-20 18:01] pdpinch commented on #1034
I don't know if this is convenient or not, but it would be nice to make this change to the enrollment code download from /ecommerce/admin/coupons/ as well.

[2019-08-20 18:21] noisecapella commented on #1034
Yes, I think we can do both

[2019-08-20 18:21] pdpinch opened #1035 "DNS TXT record for google search console"
#### Summary

As a member of the marketing team, I'd to prove to Google that we own the xPRO site so we can use the google search console tool.

We need to set a DNS TEXT record for xpro with `google-site-verification=wc6RztTsFBxGdvYpGeDTCxRdIWwaud-qIcJ9bLch7pI`

Describe where/how to generate these new values

- `google-site-verification=wc6RztTsFBxGdvYpGeDTCxRdIWwaud-qIcJ9bLch7pI` - the id came

[2019-08-20 18:24] pdpinch commented on #1015
I'm going to reopen this so I can assign it to DevOps for deployment.

[2019-08-20 18:26] pdpinch commented on #614
AFAICT, this has been fixed.

[2019-08-20 18:26] #614 closed

[2019-08-20 18:39] pdpinch opened #1036 "Homepage: open "Watch Now" video in a lightbox..."
.... instead of scrolling down the page.

As a user, I find it confusing that clicking a play button scrolls the page instead of starting a video.

#### Designs and Mockups

Similar to the lightbox at https://learn-xpro.mit.edu/leadership (scroll down to the section "a problem-based approach to leadership")

#### Acceptance Criteria:

- [ ] Clicking "Watch Now" opens a lightbox containing the same

[2019-08-20 18:45] pdpinch opened #1037 "User profile report for customer service"
As a customer service representative, I need an easy way to look up a user's email address and see if they have created an account in xPRO.

It would be nice to include some basic profile information as well, such as name and address.

#### Acceptance Criteria:

- [x] BI report based on users_user table
- [x] updated daily
- [x] can search on email and name

[2019-08-20 18:50] pdpinch opened #1038 "Two lines per refunded order in Combined Revenue Recognition Report"
As a member of the finance team, I need to make sure that the total revenue that I calculate from the Combined Revenue Recognition report handles refunds properly. The net sum of a refund needs to be zero, so I don't recognize the revenue.

One way to do this, similar to the Cybersource Reconciliation report, is to include a row for the initial purchase, with a positive price, and also include a r

[2019-08-20 18:51] pdpinch commented on #902
We discussed in planning. It looks like we'll need to open individual issues to address each view that throws this type of error. I'll take this issue until I've had the time to do that.

[2019-08-20 18:52] pdpinch commented on #951
Is there any thing we can do to quiet it?

[2019-08-20 19:05] pdpinch opened #1039 "Fix autocomplete in Firefox"
### Steps to Reproduce

1. Create a new account at /create-account
2. Verify the account by clicking the link in the verification email
3. Start filling out the profile form

### Expected Behavior

- Common fields like name, address, city and state should be autofilled by your browser.

### Actual Behavior

- in Firefox, the state and zip code fields do not autofill.

### Related Issues

This seem

[2019-08-20 19:05] pdpinch commented on #684
I opened an issue just for the Firefox issue, so we can close this.

[2019-08-20 19:05] #684 closed

[2019-08-20 19:08] pdpinch commented on #385
@rhysyngsun I haven't seen this problem crop up again since you merged #433. Do you think we can close this?

[2019-08-20 19:12] rhysyngsun commented on #951
We should make sure the form doesn't allow this (I thought it already didn't but we should verify). Otherwise we can catch the error and return a request error status code.

[2019-08-20 19:13] rhysyngsun commented on #385
@pdpinch that PR wasn't merged, it was closed because it got deprioritized and then got so out of date it just needed to be started over.

[2019-08-20 20:19] pdpinch commented on #759
Hey Matt. Do you remember where we left this?

[2019-08-20 20:21] mbertrand commented on #759
[The PR](https://github.com/mitodl/mitxpro/pull/758) is still 'Work in Progress', should I close it or update it and get it ready for review?

[2019-08-21 11:16] ahmed-arbisoft commented on #205
Isn't it working correctly? I guess turning the transcript on/off change the screen real estate available for the video and so it displays the video with the best fit inside the available space. Please be advised that all the samples are provided from the same video unit. Let me know if a different behavior is expected. Screenshots below for reference:

Video with transcript:
![Screenshot from 201

[2019-08-21 14:21] #992 closed

[2019-08-21 14:33] rhysyngsun commented on #951
I looked a little deeper into this, I don't think it's a race condition with the form submit anymore, it's probably an edge case with multiple attempts to register the same email address. I'm not _exactly_ sure how to reproduce it but, generally what I think is happening is the same email in submitted twice into the create account page.

What happens next to reproduce I'm still unclear on, but gen

[2019-08-21 14:56] shaidar commented on #1026
@ahmed-arbisoft To keep things clear and well defined on the config vars side of things, the key/value you will be looking for will be `OPENEDX_GRADES_API_TOKEN`

[2019-08-21 17:10] #1020 closed

[2019-08-21 18:01] pdpinch commented on #205
I slacked with the person who reported this issue and she agreed that it's OK as is now.

[2019-08-21 18:01] #205 closed

[2019-08-21 18:34] noisecapella opened #1046 "Update reference prefixes for ecommerce"
As an admin, I'd like to see reference numbers which have prefixes that are useful for differentiating production, RC, and CI, and also B2B and regular ecommerce checkouts, but which look reasonable to end users who may get receipts which include them.

[2019-08-21 20:18] noisecapella commented on #1046
@pdpinch I made this a separate issue just to simplify #1045. How do you feel about, for example:
 - `xpro-RC-1234` - purchase of a product with order number 1234 on RC
 - `xpro-b2b-CI-3456` - purchase of enrollment codes on CI for order number 3456
- `xpro-PROD-432` - purchase of a product with order number 432 on production

Does this look good for reference numbers?

[2019-08-21 20:33] noisecapella opened #1047 "Discount codes for B2B purchases"
As someone working with staff on xPRO, I'd like to be able to offer customers a discount for buying enrollment codes in bulk.

#### Designs and Mockups

https://projects.invisionapp.com/d/main?origin=v7#/console/17338252/374346242/preview

#### Acceptance Criteria:

- [ ] An end user should be able to take advantage of a discount code to reduce the price of a b2b purchase

[2019-08-22 12:13] tasawernawaz commented on #883
@pdpinch After doing some research I came to know that we can't style input file as there are some limitations. Solutions I found are based on

- Hiding actual input file button
- Show a custom input file button
- Show a custom span to show file name
- Style custom button and span to match the style
- Replicate behaviour of custom button to real button using JS.

I don't why but it doesn't look so

[2019-08-22 12:32] pdpinch commented on #883
That’s disappointing. Are there any links from where you researched this?

[2019-08-22 12:45] tasawernawaz commented on #883
https://stackoverflow.com/questions/572768/styling-an-input-type-file-button
https://codepen.io/dcode-software/pen/RerBgR
https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
https://coderwall.com/p/uer3ow/total-input-type-file-style-control-with-pure-css

[2019-08-22 14:26] maxliu commented on #1037
development note
query on BI : https://bi.odl.mit.edu/queries/773/source#1257

[2019-08-22 14:44] mbertrand commented on #1019
By "product id", do you mean the course run's courseware id?

Examples:
`course-v1:xPRO+LASERx3+R2`
`course-v1:xPRO+LASERxB4+R3`

So in Hubspot:
`Leading Change in Organizations - course-v1:xPRO+LASERx3+R2`
`Discovering and Implementing Your Leadership Strengths (Boeing) - course-v1:xPRO+LASERxB4+R3`

[2019-08-22 16:02] noisecapella opened #1049 "Tweak CSS for hamburger menu icon for mobile layout"
A small thing but we should align the text in the button with the hamburger menu icon

![Screenshot from 2019-08-22 12-01-50](https://user-images.githubusercontent.com/863262/63530581-be84dd00-c4d4-11e9-9c02-88482a62bcb8.png)

[2019-08-22 17:42] #1034 closed

[2019-08-22 19:14] pdpinch commented on #1046
Would it be easier to parse if there were fixed string for single seat b2c purchases as well as b2b?

For example:

- `xpro-b2c-RC-1234` - purchase of a product with order number 1234 on RC
- `xpro-b2b-CI-3456` - purchase of enrollment codes on CI for order number 3456
- `xpro-b2c-PROD-432` - purchase of a product with order number 432 on production

I don't feel too strongly about this. Let me lo

[2019-08-22 19:22] pdpinch commented on #1047
I'm asking the folks in xPRO if these should just be single use discounts (coupons), or if we need multi-use promo codes too.

[2019-08-22 20:24] maxliu commented on #1046
I like @pdpinch 's suggestion.  An alternative would be to add two more fields for  environment (PROD, CI, and RC) and order types (B2C ,B2B ...), so that we don't have to do any string parsing.

[2019-08-22 20:38] pdpinch opened #1050 "Display coupon payment name in enrollment code redemption report"
As a member of the finance team, I'd like to have a way to easily see all the coupons that were redeemed with a coupon payment name.

For example, I'd like to be able to filter the enrollment code redemption report down to only those redemptions related to the payment name `REACT20190808`

#### Acceptance Criteria:

- [ ] display payment name
- [ ] allow searching on payment name

[2019-08-22 21:17] rhysyngsun opened #1051 "Presence of DATABASE_URL in app.json is causing review apps to connect to CI db"
The app.json causes review apps to inherit all those vars. Unfortunately this means heroku is giving them the CI database and instead attaching the review app's individual database at a `HEROKU_POSTGRES_${COLOR}_URL` var.

[2019-08-22 22:30] maxliu commented on #1050
development note

related query on BI https://bi.odl.mit.edu/queries/671/source#1070

[2019-08-23 15:03] maxliu commented on #1050
@pdpinch I added the coupon payment name to the query above, please take a look.

[2019-08-23 15:10] #791 closed

[2019-08-23 18:48] mbertrand commented on #991
@pdpinch all the expiration dates I've looked at so far on production and RC expire at 4:00:00 UTC, which is midnight here at least during daylight savings.  But I can change the form to save the expiration date to be at the end of the specified day instead of at the beginning.

[2019-08-23 21:05] #1027 closed

[2019-08-23 21:06] noisecapella commented on #1047
@abdulkdawson Would it be possible to remove the "apply" button from the mockup? If we can do this in the checkout it would simplify the implementation work. But I also don't want to compromise the design if you think the apply button is necessary here.

[2019-08-27 11:47] pdpinch opened #1059 "Add a "is_active" fields to the product model"
As an admin, I would like to disable some existing products -- either because we don't sell them anymore, or they were created by mistake.

#### Acceptance Criteria:

- [ ] Add an `is_active` field to the product model. (I think `is_active` is the clearest name for the field, but I'm open to suggestions
- [ ] Migrate any existing objects to have a value of `True` (Will this avoid the need to allow

[2019-08-27 12:04] pdpinch opened #1060 "Set "Blank=True" on ProductVersion.text_id"
As an admin, when I create a ProductVersion, I don't expect to set the text_id manually. I expect the value to be calculated and set when I save the object.

#### Acceptance Criteria:

- [ ] Set "Blank=True" on `ProductVersion.text_id`
- [ ] Confirm that this allows the django admin user to create a ProductVersion without a value for `text_id` and that when the object is saved, the correct value i

[2019-08-27 14:00] asadiqbal08 commented on #1036
@pdpinch the video over there https://learn-xpro.mit.edu/leadership (section `a problem-based approach to leadership` )  can be a `HLS` video or always be the `Youtube` only ?

[2019-08-28 10:50] #1029 closed

[2019-08-28 12:14] pdpinch opened #1063 "Next parameter isn't preserved when moving from /signin to /create-account"
### Steps to Reproduce

1. Log out of xpro
2. Navigate to a page that requires login, such as `/checkout?product=1`
3. You will be redirected to /sign-in with a next parameter i.e. `/signin/?next=%2Fcheckout%2F%3Fproduct%3D1`
4. Click on "Create Account"

### Expected Behavior

- user is linked to `/create-account/?next=%2Fcheckout%2F%3Fproduct%3D1` so the next parameter is preserved through the c

[2019-08-28 16:41] gsidebo opened #1065 "Prevent unnecessary error alerts from scheduled repair tasks"
PRs #1058 and #1064 add scheduled tasks to "repair" incorrectly configured users in certain ways. Exceptions are logged if these tasks fail, but it's very possible for these repair tasks to fail for some user that will be correctly configured very shortly after the task. One example: a user has just registered, the user repair task happens to run before all of the necessary edX API calls have succ

[2019-08-28 17:57] sentry-io[bot] opened #1066 "CoursewareUserCreateError: Error creating Open edX user"
Might be a discrepancy between xpro's legal name validation and edX's.

Sentry Issue: [XPRO-E8](https://sentry.io/organizations/mit-office-of-digital-learning/issues/1102876182/?referrer=github_integration)

[code]

[2019-08-28 21:51] gsidebo opened #1068 "Unenroll users in edX when enrollment is deactivated"
Depends on https://github.com/mitodl/edx-api-client/pull/61
Will fix https://github.com/mitodl/mitxpro/issues/988

Acceptance criteria:
- [ ] In all cases where an enrollment is deactivated in xPro, the edx-api-client unenrollment method is called to deactivate that enrollment in edX

[2019-08-29 13:06] pdpinch commented on #1015
@mitodl/devops can we get this theme changes deployed to open edX?

[2019-08-29 13:11] pdpinch commented on #1019
Sorry I didn't reply here @mbertrand but those are the correct values. They should now be stored in `ProductVersion.text_id` but they come originally from `CourseRun.courseware_id` and `Program.readable_id`

[2019-08-29 13:12] shaidar commented on #1015
@asadiqbal08 @pdpinch The links have been hardcoded to `xpro.mit.edu`. Could we not have used `settings.OPENEDX_API_BASE_URL` instead?

[2019-08-29 13:56] #1019 closed

[2019-08-29 15:28] shaidar commented on #973
@pdpinch This was deployed on CI and RC and awaiting testing/approval before rolling out to production

[2019-08-29 15:45] #1037 closed

[2019-08-29 15:49] maxliu commented on #1038
@pdpinch as we discussed, the report only shows the one with 'order_status=fulfilled'.

[2019-08-29 15:50] pdpinch commented on #1035
@blarghmatey did you tell me this was blocked by setting up the A Record?

[2019-08-29 15:51] #1038 closed

[2019-08-29 16:03] pdpinch commented on #1015
At one point, @blarghmatey told me that wouldn't work, but I think that was when we were pursuing the configuration route instead of the theme route.

@asadiqbal08 if you think this is feasible, it's worth the change. Although I really want to check the boxes for this issue, we can wait a bit longer to get it right.

[2019-08-29 16:06] pdpinch commented on #1026
@asadiqbal08 @shaidar can we close this? Is the account configured in CI, RC and Prod?

[2019-08-29 16:46] shaidar commented on #1026
[Issue#995](https://github.com/mitodl/salt-ops/issues/995)

[2019-08-29 16:46] gsidebo opened #1071 "Bulk enrollment form becomes unusable with large amount of records"
Check the loading time for the form on RC for an example: https://xpro-rc.odl.mit.edu/ecommerce/admin/enroll/

This is probably due to inefficient querying

[2019-08-29 17:56] asadiqbal08 commented on #1015
well, I was in favor to use `settings.XPRO_BASE_URL` instead of hardcoding it. Let me know, If need to consider django settings for base url then I will create a new one.

[2019-08-30 14:15] noisecapella opened #1073 "Explanation text for bulk enrollment code purchase"
As a customer, I'd like to read more about how the enrollment codes work.

#### Designs and Mockups

https://projects.invisionapp.com/d/main?origin=v7#/console/17338252/375798789/preview

#### Acceptance Criteria:

- [ ] Add the text as it exists in the mockups
- [ ] Add expanders

[2019-08-30 18:20] blarghmatey commented on #1035
Yes, that's correct unless we choose a different domain verification method.

[2019-09-01 19:46] #1050 closed

[2019-09-01 19:58] pdpinch commented on #1015
I think this is a little more complicated than it seems because of the diverse names of our environments. What are the values of `settings.XPRO_BASE_URL` on CI, RC and prod deployments of open edX? Will they be set correctly?

[2019-09-01 20:07] pdpinch commented on #1036
@asadiqbal08 I have a couple of comments now that I see this working on RC.

- Can the lightbox be larger, similar in size to one on https://learn-xpro.mit.edu/leadership ?
- The video should autostart, since the user has already clicked a button to "watch"
- Can we pause the background video? It's weird to see it running underneath the lightbox.
- The video should be responsive (maybe it already

[2019-09-01 21:41] shaidar commented on #1015
We've already had to add `XPRO_BASE_URL` to satisfy this [issue](https://github.com/mitodl/salt-ops/issues/948) and the value is already defined based on env [here](https://github.com/mitodl/salt-ops/blob/master/salt/edx/hacks.sls#L63). So, don't think that should be a problem as the value should already be present on the openedx xPRO instances.

[2019-09-02 00:44] pdpinch commented on #1065
See also #1007

[2019-09-02 00:48] pdpinch commented on #892
This hasn't happened again in 2 months.

[2019-09-02 00:48] #892 closed

[2019-09-02 00:50] pdpinch commented on #784
In production, this was resolved by deactivating edX's keys.

This hasn't happened in any environment is over 3 weeks.

[2019-09-02 00:50] #784 closed

[2019-09-02 00:53] pdpinch commented on #617
I think this only happens for legacy accounts that predate the registration requirement for LegaAdress

[2019-09-02 00:55] pdpinch commented on #540
@gsidebo achieved this in OVS with https://github.com/mitodl/odl-video-service/pull/763 and https://github.com/mitodl/odl-video-service/pull/767

[2019-09-02 00:55] #540 closed

[2019-09-02 00:57] pdpinch commented on #40
With #1038 resolved, I think we can can this done.

[2019-09-02 00:57] #40 closed

[2019-09-02 00:58] pdpinch commented on #18
Course and program enrollment are implied by ecommerce records.

[2019-09-02 13:02] #595 closed

[2019-09-03 09:53] tasawernawaz commented on #883
@pdpinch I tried to style name of file only, we can style it but it may apply to the select button as well. I changed the font weight and it effects button as well, However change of color doesn't effect button. Similarly changing position using margins/paddings also effects position of the button.

<img width="633" alt="Screenshot 2019-09-03 at 2 51 18 PM" src="https://user-images.githubuserconte

[2019-09-03 10:04] ahmed-arbisoft commented on #1030
@pdpinch Although that would be a separate issue, do we have a design for the program certificate available?

[2019-09-03 11:20] maxliu commented on #40
I agree.

[2019-09-03 12:06] pdpinch commented on #955
order 51 was a test order. Strangely, there's no record in Cybersource, nor any receipt in xPRO. I don't know how it got marked "fulfilled". I updated it to "failed"

orders 23 and 32 were also test orders. They both have already been refunded in Cybersource. However, they were both purchases for test course runs and the refund management command failed. I changed the order status for 23 and 32 to

[2019-09-03 12:06] #955 closed

[2019-09-03 14:20] rhysyngsun commented on #617
That's the known case, but I think it's worth addressing this at some point in case other edge cases slip in. Probably low priority though because decrypting the responses is the known workaround on an as-needed basis.

[2019-09-03 14:26] maxliu commented on #955
Thanks. I have trouble to access BI now. Will test it later today.

[2019-09-03 14:31] shaidar commented on #279
Waiting for verification on RC

[2019-09-03 14:42] rhysyngsun opened #1079 "Accounts: populate username with the user's name"
The generated `ulid` usernames are not user friendly on the openedx side, so we want something close to the user's name

- [ ] Prepopulate the username with some normalized version of the user's full name
- [ ] De-duplicate usernames to avoid collisions, probably via a numeric sequence appended to the username

#### Questions

- How do we deal with non-latin unicode names?
  - Suggestion: we'll ne

[2019-09-03 14:44] rhysyngsun opened #1080 "Accounts: investigate what's involved with changing openedx usernames"
We'd like to get an idea what's involved with changing openedx usernames or if it's even practical/possible.

Deliverable for this is a list of what things would need to be addressed and concerns or blockers.

[2019-09-03 14:55] asadiqbal08 commented on #1036
@pdpinch In my open [PR](https://github.com/mitodl/mitxpro/pull/1076), regarding your suggestion for
`Can the lightbox be larger, similar in size to one on https://learn-xpro.mit.edu/leadership ?`
, I tried to fix it but it is not totally working likely the video over there -->  https://learn-xpro.mit.edu/leadership

It seems me, They are using a [FancyApp](https://fancyapps.com/fancybox/3/docs/#i

[2019-09-03 18:10] pdpinch opened #1081 "B2B: simplify bulk purchase form"
As a B2B user who needs to purchase multiple seats at once, I'd like a simple step-by-step interface for choosing my product, i.e.

1. Choose program or course(run)
2. If a program, choose the program from a list of names
3. If a course(run), choose the courserun from a list
    1. If a courserun, choose from a list of available dates

#### Designs and Mockups

tbd

#### Acceptance Criteria:

- [

[2019-09-03 18:14] pdpinch commented on #1047
@noisecapella when you create the enrollment codes for a B2B purchase, what value are you using for the transaction id?

[2019-09-03 19:10] pdpinch opened #1082 "LTI: Yellowdig can't post back grade results to open edX"
### Steps to Reproduce

### Expected Behavior

POSTs to the "lis_outcome_service_url" should not require additional authentication.

### Actual Behavior

302 redirect to the singin page.

[2019-09-03 19:12] pdpinch commented on #1082
I set up a test LTI instance with Saltire testing service at https://courses.xpro.mit.edu/courses/course-v1:xPRO+NHx+1/courseware/5d4d9859d9d9415ca7a3627701db0322/f61183823b3945f6889b7122cf4791c3/1

Click the button and then in the new tab look at the Message parameters section to find the `lis_outcome_service_url`

[2019-09-03 19:16] pdpinch commented on #1079
Why do usernames need to be Latin/Ascii? Is that a db restriction, or something else?

[2019-09-03 19:20] pdpinch commented on #1080
This doesn't seem very definitive (or recent) but perhaps there is some hope?

https://openedx.slack.com/archives/C12M8M5AR/p1488297441000607

[2019-09-03 19:31] shaidar commented on #1082
@pdpinch And this will be a POST request coming from `Yellowdig`?

[2019-09-03 19:34] pdpinch commented on #1082
In this specific case yes, but presumably there will be other LTIs we want to support. I already know of two more that are being evaluated.

[2019-09-03 19:35] rhysyngsun commented on #1079
I had thought it was an edx restriction, but it looks like it can be enabled with the `ENABLE_UNICODE_USERNAME`, we should verify that though.

[2019-09-03 19:37] shaidar commented on #1079
That's already enabled for all openedx instances, [here](https://github.com/mitodl/salt-ops/blob/master/pillar/edx/ansible_vars/init.sls#L232)

[2019-09-03 19:41] blarghmatey commented on #1031
We attempted to use CloudFront, but found out after the fact that their "dedicated IPs" are not static and they don't provide any means of enumerating the assigned addresses making their solution useless for our purposes. I have outlined the overall problem and available options with analysis in this [doc](https://docs.google.com/document/d/1iPASCcTJfICWQ3qbH5m3OuII_iq5eSKfheQYAEDKVR8/edit?usp=sha

[2019-09-04 01:33] pdpinch commented on #971
@tasawernawaz we're going to move towards creating non-random usernames, but it's probably going to take us some time to implement it. In the meantime, can you open a PR to update this template?

[2019-09-04 01:37] pdpinch commented on #883
The font color looks great. Open a PR and let's call this done!

[2019-09-04 07:46] tasawernawaz opened #1084 "update eslint-utils"
update [eslint-utlis](https://github.com/mitodl/mitxpro/network/alert/yarn.lock/eslint-utils/open)

[2019-09-04 07:52] tasawernawaz opened #1085 "update mixin-deep and set-value"
- update [mixin-deep](https://github.com/mitodl/mitxpro/network/alert/yarn.lock/mixin-deep/open)
- update [set-value](https://github.com/mitodl/mitxpro/network/alert/yarn.lock/set-value/open)

[2019-09-04 12:10] tasawernawaz commented on #1085
@aliceriot I want to update `mixin-deep` and `set-value`.
I ran `yarn why set-value` and it shows
`"webpack#micromatch#snapdragon#base#cache-base" depends on it`

similarly `yarn why mixin-deep` shows that
`"webpack#micromatch#snapdragon#base" depends on it`

What I understand is once I update webpack, its dependencies should automatically update. So I updated webpack but both of the packages are

[2019-09-04 13:33] tasawernawaz commented on #971
@pdpinch I was looking around it and it looks like we have to make changes in the python code as we are sending username as author's name to frontend code. There may be no need to change the template code.

[2019-09-04 14:09] shaidar commented on #1082
Deployed to RC

[2019-09-04 14:11] aliceriot commented on #1085
it could be that the current version of webpack, micromatch, or snapdragon still depends on a version which has the vulnerability in it, so unfortunately we may not be able to fix it easily until they update their dependencies :(

[2019-09-04 14:15] aliceriot commented on #1085
although! one way that you can try out is to use this technique: https://blog.shovonhasan.com/fixing-a-security-vulnerability-in-a-transitive-dependency/

this will force dependencies of dependencies to resolve packages to a specific version. it's possible that this can break behavior of a package, though, if there's a breaking change that doesn't work with how webpack / snapdragon / etc currently

[2019-09-04 14:16] aliceriot commented on #1085
(that's from google translate b/c I can't read urdu so it may be wrong, haha)

[2019-09-05 06:31] #1084 closed

[2019-09-05 08:23] tasawernawaz commented on #1085
@aliceriot haha both, your solution and Urdu were correct. Give me another favour by reviewing #1087.

[2019-09-05 13:27] pdpinch opened #1088 "Cybersource Reconciliation Report: sort by order id descending"
As a finance team member, I would like:

[2019-09-05 13:31] maxliu commented on #1088
Done. Please check.

[2019-09-05 13:57] #883 closed

[2019-09-05 17:00] noisecapella commented on #858
I'm going to close since I think all the checkboxes are done. I think there are issues for all of the remaining things to be wrapped up

[2019-09-05 17:00] #858 closed

[2019-09-05 17:43] #1085 closed

[2019-09-05 18:59] noisecapella commented on #1081
https://projects.invisionapp.com/d/main?origin=v7#/console/17338252/382046966/preview

@abdulkdawson For the mockup should the course title be shown in both in the select element and right underneath it?

[2019-09-05 19:09] abdulkdawson commented on #1081
@noisecapella Yes. I just updated the InVision project to reflect this.

[2019-09-05 19:27] pdpinch commented on #1081
We were talking earlier today about using react-select, similar to Micromasters, which gives us some more options about styling the choices in the dropdown.

However, in this particular screen, we’re trying to display all the courses in a program.

[2019-09-05 19:52] shaidar commented on #279
Verified on RC. Deployed to production and verified

[2019-09-05 19:52] #279 closed

[2019-09-05 20:06] noisecapella commented on #1047
@pdpinch I am leaving it empty at the moment but we can change that

[2019-09-06 10:47] tasawernawaz opened #1091 "update js-yaml"
For details at https://github.com/mitodl/mitxpro/network/alert/yarn.lock/js-yaml/open

[2019-09-06 12:48] maxliu commented on #1088
@pdpinch can you take a look?

[2019-09-06 13:11] asadiqbal08 commented on #1036
Ok today, I struggled to play with `FancyBox` app in our work and get some good idea about it but need little more to explore it. I will try to update the PR soon.

[2019-09-06 13:23] #985 closed

[2019-09-06 13:31] pdpinch commented on #1088
LGTM

[2019-09-06 13:31] #1088 closed

[2019-09-06 15:57] #877 closed

[2019-09-06 17:52] noisecapella commented on #1081
New mockups: https://projects.invisionapp.com/d/#/projects/prototypes/17338252

[2019-09-09 03:17] #984 closed

[2019-09-09 12:16] pdpinch opened #1093 "management command to retire users' accounts"
As an admin, I'd like a management command that can be used to retire an account, similar to the ones in MicroMasters and Open

#### Acceptance Criteria:

- [ ] set `is_active` on the account to False
- [ ] null the email address
- [ ] retire the account in edX

#### Questions?

- **Q:** Should we delete any data consent agreements?

[2019-09-09 14:52] noisecapella commented on #1081
@abdulkdawson What do the "start date" options look like?

[2019-09-09 20:17] pdpinch opened #1096 "CMS causes OperationalError: cursor "_django_curs_139683073799936_1" does not exist"
@sentry-io[bot] commented on [Mon Sep 09 2019](https://github.com/mitodl/bootcamp-ecommerce/issues/287)

Sentry Issue: [XPRO-K1](https://sentry.io/organizations/mit-office-of-digital-learning/issues/1214689177/?referrer=github_integration)

[code]

[2019-09-10 14:32] #1068 closed

[2019-09-10 21:25] gsidebo commented on #1080
@pdpinch With a bit of tinkering, I was just able to update a user's username in LMS and update do the same for all of their posts/comments in the forum. Here's what I did:
1. Updated the username via LMS Django shell
1. Also in an LMS shell, made `PUT` requests to the API exposed by the forum service to update the username for each individual post and comment that the user authored (the ids of al

[2019-09-10 21:50] rhysyngsun commented on #1080
@gsidebo I think you can circumvent the `auto_now` behavior of `updated_at` by running `User.objects.filter(username="A").update(username="B")`, which is probably better anyway since it's an atomic operation.

[2019-09-11 06:53] #1091 closed

[2019-09-11 11:04] ahmed-arbisoft commented on #1018
@pdpinch Having tracked down the original implementation of this, there is no proper way of fixing it while limiting ourselves to the template. The "You must be enrolled..." warning is simply registered in the messages app and in the template there is a loop/print block for these. I could:
a: override the messages template and check for the message content (text/html) that matches our message and

[2019-09-11 12:24] #940 closed

[2019-09-11 12:24] #875 closed

[2019-09-11 12:33] tasawernawaz commented on #971
@pdpinch I have explored the code of forums in edX in order to find a way to use full name of user instead of username. I came to know that there is a separate service called [`cs_comments_service`](https://github.com/edx/cs_comments_service) and its data is saved in mongo db. In mongo structure we are only saving `author_id` and `author_username`. If we want to show full name of user we may have

[2019-09-11 12:36] asadiqbal08 opened #1099 "Dashboard: Certificate link for programs over dashboard."
As a learner, I need a link to my certificate for programs over dashboard.

@pdpinch FYI

[2019-09-11 13:33] maxliu opened #1101 "order doesn't show in enrollment tables."
### Steps to Reproduce
There is an order with status=fulfilled but doesn't show in the enrollment tables.
(List or Description)

More details :

https://bi.odl.mit.edu/queries/755#1218

### Expected Behavior

This kind of order should not exist.

[2019-09-11 13:40] maxliu commented on #1101
a query helping to debug

https://bi.odl.mit.edu/queries/796/source#1297

[2019-09-11 13:50] blarghmatey commented on #1082
This is live on production now.

[2019-09-11 13:50] #1082 closed

[2019-09-11 15:38] gsidebo commented on #1080
@rhysyngsun Should have been clearer. I'm referring to an `updated_on` property in the post/comment object as it exists in the forum service. I'm about 95% sure they are Mongo documents

[2019-09-11 18:26] mbertrand commented on #1060
@pdpinch I think a better way to do this would be to make `text_id` a read-only field in Django Admin:

<img width="756" alt="Screen Shot 2019-09-11 at 2 26 01 PM" src="https://user-images.githubusercontent.com/187676/64724248-2315d500-d4a0-11e9-9e51-9653950685e2.png">

[2019-09-11 18:28] pdpinch opened #1104 "Update Forgot Password message"
As a user, I'd like to understand better what to do when I reset my password.

As a customer support representative, I'd like to cut down on the number of tickets opened by impatient users who haven't received their password reset e-mail yet.

#### Designs and Mockups

https://invis.io/WDRNN8N2BT8#/383488812_Forgot_Password_Email__Messaging

#### Acceptance Criteria:

- [ ] Display a longer messag

[2019-09-11 18:34] pdpinch opened #1106 "Update Email verification message"
As a user, I'd like to have some more instructions on what to expect when I need to verify my email, including helpful suggestions on what to do if I haven't received the email.

As a customer support representative, I'd like to reduce the number of tickets opened by impatient or confused users trying to create an account.

#### Designs and Mockups

https://invis.io/WDRNN8N2BT8#/362754849_Sign_Up_

[2019-09-11 19:01] pdpinch opened #1108 "Reports: add payment type to coupon usage report"
As a member of the finance team, I'd like any easy way to identify coupons that are associated with sales, staff, etc.

#### Acceptance Criteria:

- [ ] add `couponpaymentversion.payment_type` field to the coupon usage report at https://bi.odl.mit.edu/queries/708#1180

[2019-09-11 19:26] noisecapella commented on #1046
I'm thinking of getting rid of the `MITXPRO_REFERENCE_PREFIX` environment variable and just using `ENVIRONMENT` instead. So it would be `xpro-b2c-production-987` or `xpro-b2b-rc-456` for example

[2019-09-11 20:20] #1073 closed

[2019-09-11 20:56] noisecapella opened #1110 "Change CouponPaymentVersion.amount to have more decimal places"
As a coupon creator, I'd like to have more decimal places in the `amount` field since it's actually a percentage between 0 and 1, meaning it effectively has only integer percents available. Adding a few decimal places will increase the flexibility of what coupons could be created.

#### Acceptance Criteria:

- [ ] Update the `amount` field to have `decimal_places=5` similar to the new B2BCoupon mo

[2019-09-11 21:28] pdpinch commented on #1046
I’m not exactly sure how it works, but the examples make sense to me. :+1:

[2019-09-11 21:31] pdpinch commented on #1060
Ok, as long as it doesn’t prevent me from creating new ProductVersion in the admin.

[2019-09-12 12:46] ahmed-arbisoft opened #1113 "Add certificate share image url to robots.txt for Twitterbot"
As a learner when I share my certificate to Twitter I would like the card to appear with the share image. The image does not display if `Twitterbot` is not allowed to crawl the image location.

#### Acceptance Criteria:

- [ ] Add crawl allow rule for `Twitterbot` for url path `/static/images/certificates`
  - [ ] On CI
  - [x] On RC
  - [ ] On Production
- [ ] Robots rule change is reflected in t

[2019-09-12 14:42] noisecapella opened #1114 "B2B: When creating enrollment codes, the transaction id should be set"
As an admin, I'd like to set the transaction id for the generated enrollment codes so that I know where the enrollment codes came from.

#### Acceptance Criteria:

- [ ] Set the payment_transaction to include the order id with prefix when creating the coupon. For example: `xpro-b2b-production-345`, the same as the reference number used in Cybersource purchases

[2019-09-12 15:34] #1060 closed, assigned to mbertrand

[2019-09-13 09:07] tasawernawaz commented on #971
@pdpinch I remembered yesterday in standup you were talking about saving readable usernames in our database. When can we expect to do that ? If we are doing it in near future may be we can mark this ticket closed instead of making hacky solution to achieve this.

[2019-09-13 11:45] ahmed-arbisoft commented on #843
@rhysyngsun @noisecapella there are a couple things to consider here:
- xPRO does not allow you to visit the checkout page if you aren't logged in, so that should take anonymous users out of the equation in the first place.
- Sentry shows that the XHR status (where the exception occurred) was 0 (which isn't a valid HTTP status and occurs only when the server didn't return a status code at all). Th

[2019-09-13 11:51] pdpinch commented on #971
I think #1079 will likely close soon, which makes readable usernames going forward.

We are also working on #1080 in order to address existing usernames. Based on what we've learned from researching that, it seems like a theme change is not going to fully address this issue.

I'm going to put this on hold, but it's very likely that we'll close it next week.

[2019-09-13 14:48] rhysyngsun commented on #843
It's still possible for an error to come back even if the user was logged in when they first hit the page. Some cases offhand would be:

- User logs out in another tab (more likely)
- Session times out (probably pretty rare for this to happen but it's possible)

A simple fix for this would be to check `if (basketResponse.body && basketResponse.body.errors)` and then add an `else` that sets a gener

[2019-09-13 15:48] shaidar commented on #1015
The code had been deployed with the last build and I verified that it's there, however for some reason, the footer is still not showing the recent additions. Tried recompiling the assets in case, but no change. Looking further into it.

[2019-09-13 17:53] pdpinch commented on #843
While I'm interested in determining the root cause of this error, it would be good in the meantime to have a PR that displays a "sorry, we don't know what's happening" type of error to the user. Right now it fails silently, so we customer support can't figure out what to do when someone writes in and just says "checkout doesn't work"

[2019-09-13 18:04] rhysyngsun commented on #843
Re: status code 0:

https://stackoverflow.com/a/26451773

[2019-09-13 18:14] pdpinch commented on #843
Thanks, I didn't know about all those edge cases. I agree with your earlier comment:

The error message should be "Something went wrong. Please contact us at " + the customer support URL, https://xpro.zendesk.com/hc/en-us/requests/new

[2019-09-13 18:32] #1079 closed

[2019-09-13 18:43] pdpinch commented on #988
As of 9/13, we still have inconsistent data as demonstrated by the query https://bi.odl.mit.edu/queries/777

[2019-09-13 19:10] #1046 closed

[2019-09-15 20:14] pdpinch commented on #1113
I think this is only going to be an issue on RC.

Does this ordering of rules on https://xpro-rc.odl.mit.edu/robots.txt work?

[code]

[2019-09-15 20:24] pdpinch commented on #1108
Looks good to me.

[2019-09-15 20:24] #1108 closed

[2019-09-15 20:28] pdpinch commented on #1096
We haven't seen this in almost a week. I'm going to close it for now.

[2019-09-15 20:28] #1096 closed

[2019-09-15 20:42] pdpinch commented on #884
This was fixed some time ago.

[2019-09-15 20:42] #884 closed

[2019-09-16 12:54] ahmed-arbisoft commented on #1113
I guess we should move the `Allow` rule before the `Disallow` rule.

[2019-09-16 14:28] #1025 closed

[2019-09-16 14:32] #307 closed

[2019-09-16 17:34] shaidar commented on #1015
This has been deployed and verified on RC and production.

[2019-09-16 17:34] #1015 closed

[2019-09-16 17:46] #1114 closed

[2019-09-16 18:49] #1047 closed

[2019-09-16 18:52] gsidebo opened #1119 ""Watch Now" button appears on home page even if there is no video to play"
_Related: #1036, #1076_

### Steps to Reproduce

Open the Home Page with no Text Video Section configured in the CMS

### Expected Behavior

There is no "Watch Now" button since there is no video to watch

### Actual Behavior

There is a "Watch Now" button, and it writes a console error if you click it (or at least it's supposed to)

[2019-09-16 21:51] maxliu commented on #1101
@pdpinch  The query (796) is  supposed to rerun no data because this order is not in receipt table.

[2019-09-17 12:07] pdpinch opened #1121 "Bulk Enrollment: Download a CSV of codes and emails after sending"
As a customer responsible for enrolling multiple learners, I would like to have a record of which enrollment codes were sent to which email address, so I can better manage any issues.

As a customer support person, I would like to have a record of which enrollment codes were sent to which email address, so I can better manage any customer support issues.

#### Workflow

1. Company sends us  list o

[2019-09-17 12:14] sentry-io[bot] opened #1122 "Error creating Open edX user: 'Your legal name must be a minimum of two characters long'"
Sentry has been combining (at least) two errors under this URL:

Sentry Issue: [XPRO-KB](https://sentry.io/organizations/mit-office-of-digital-learning/issues/1220843386/?referrer=github_integration)

This issue addresses only one of these:

https://sentry.io/organizations/mit-office-of-digital-learning/issues/1220843386/events/7cf1d3f5b6434dc78ede54b79a83da66/?project=1413655

```Error creating O

[2019-09-17 12:21] pdpinch opened #1123 "Certificates: add validation link"
As an employer, I'd like to have a way to validate a learner's certificate, which might be handed to me on paper.

#### Designs and Mockups

We will add a link with the the uuid for the certificate. On an electronic version, it can be validated by simply clicking on the link. For paper versions, employers can use the UUID as a key to validate the certificate with customer service.

https://project

[2019-09-17 12:21] pdpinch commented on #1123
@abdulkdawson I left a couple questions on the InVision design.

[2019-09-17 13:02] pdpinch commented on #843
Here's a ticket from an end-user: https://odl.zendesk.com/agent/tickets/35840

[2019-09-17 17:57] pdpinch commented on #1122
Another, slightly different Sentry issue: https://sentry.io/share/issue/fb6fc6581e0c4d738afacb67c8dd5302/

[2019-09-17 19:25] pdpinch commented on #843
@ahmed-arbisoft Can you proceed with this, to add the error handling and a message?

[2019-09-17 19:32] pdpinch commented on #1113
Hm. It's not obvious to me how to change that order. Is it an actual problem that's blocking your testing on RC?

[2019-09-17 22:40] ahmed-arbisoft commented on #1113
@pdpinch I've tested the functionality on RC already. Post to Facebook works fine, same is the case for LinkedIn and functionally Twitter works as well. The only thing is, if the `robots.txt` does not allow `Twitterbot` to crawl the share image location the tweet will show up as a simple URL share. If we allow the bot to crawl that location it will appear as a complete card with an image and descr

[2019-09-17 23:49] pdpinch commented on #1030
Can we close this, or is it waiting on something more?

[2019-09-18 07:12] ahmed-arbisoft commented on #1030
@asadiqbal08 can you please check off the boxes in the AC for what was accomplished? Also please close the issue if this has been merged.

[2019-09-18 08:00] #1030 closed

[2019-09-18 11:23] tasawernawaz commented on #1106
@rhysyngsun I believe you had done most of the work related to auth flow, could you please post your suggestions before starting implementation of this.

Currently we are using notification to show notification once email sent to the user to verify. What should be the right approach to do this issue?

[2019-09-18 12:31] rhysyngsun commented on #1106
This can just be simple react page we redirect to at /create-account/confirm-sent when the response returns successful instead of the current redirect to the login page

[2019-09-18 13:47] pdpinch commented on #1018
lgtm

[2019-09-18 13:56] asadiqbal08 commented on #1122
For the existing user, we need to update it either manually or by support team that is causing this failure but for the new users I have added a validation on both front-end + back-end side over the `name` field -- [Here](https://github.com/mitodl/mitxpro/pull/1127) is the PR

[2019-09-18 14:13] #980 closed

[2019-09-18 14:31] #1026 closed

[2019-09-18 16:01] noisecapella commented on #967
Looks like there hasn't been this exception in the last 30 days so I'm closing this

[2019-09-18 16:01] #967 closed

[2019-09-18 18:34] pdpinch opened #1129 "Add program price and program dates to program API"
As a program API consumer, like the MIT Open site, I'd like to know the program price, enrollment start date, start date and end date of each program.

#### Acceptance Criteria:

- [x] Add a `price` field, based on the current ProductVersion for the program
- [x] If there is no current ProductVersion, omit the program from the feed (because no one can enroll in it)
- [ ] Add an `start_date` field,

[2019-09-19 08:16] asadiqbal08 commented on #1036
I will close it after verifying changes over RC .

[2019-09-19 08:48] #1059 closed

[2019-09-19 09:47] #1099 closed

[2019-09-19 17:55] gsidebo opened #1138 "Occasional "'$' is undefined" error in Django template-rendered pages (production)"
### Steps to Reproduce

Not sure. Maybe slow down network connection in

### Expected Behavior

Javascript loads in Django-template-rendered pages

### Actual Behavior

Certain scripts are occasionally executed before jQuery loads and `$` is defined

### Related Issues

Sentry: https://sentry.io/organizations/mit-office-of-digital-learning/issues/1085982154/events/4f28451f15ed4511864212b98b082a6e/

[2019-09-19 18:17] #1110 closed

[2019-09-19 21:42] pdpinch commented on #1002
Well, here's one way this happens in the wild: https://odl.zendesk.com/agent/tickets/35963

I kind of would like to update the refund_enrollment management command to take an option argument for courseenrollment id, and handle the situation that way.

But if the right thing to do is make the table unique on user and course and then update the records, I think I can live with that. (I think..)

[2019-09-19 21:49] pdpinch commented on #1002
Ironically, this example from (draft) edX documentation agrees with you: https://github.com/edx/open-edx-proposals/blob/442cb6fba97f688e5eae6fcbd19bdeb845f38acd/oeps/oep-0038-Data-Modeling.rst#enforce-logical-constraints-at-the-database-layer

[2019-09-20 11:59] pdpinch commented on #1113
Is this an actual issue on production? On Production, we allow all robots and then disallow only a few directories, which don't include /static:

from https://xpro.mit.edu/robots.txt

[code]

[2019-09-20 12:37] ahmed-arbisoft commented on #1113
Can't say for production, if it does not apply we can close the ticket. I only tried on RC initially and that's where everything was being blocked. Given that I've already added a rule for Twitterbot on RC, I guess we can close this.

[2019-09-20 12:59] ahmed-arbisoft commented on #1113
Closing because this does not apply anymore.

[2019-09-20 12:59] #1113 closed

[2019-09-20 13:38] #1122 closed

[2019-09-20 17:22] pdpinch opened #1141 "Performance: reduce n+1 queries in /catalog"
As a user I'd like the catalog page to load in less than 15s. For some users the server rendering takes over a minute.

As an admin, I'd like devote fewer server instances to xpro. Because the catalog page is so slow I have to add more and more servers.

#### Acceptance Criteria:

- [ ] Add prefetching for the queries on the catalog page to reduce or remove all the n+1 queries reported in testing.

[2019-09-23 14:12] rhysyngsun commented on #951
Note that the prescribed solution above has been invalidated by the changes introduced in #1094

[2019-09-23 14:48] pdpinch opened #1145 "Report: Unused enrollment codes"
As a member of the sales team and as a course pm, I'd like to know who has been invited to enroll in a course and who has not. I will use the list of folks who have not enrolled to encourage them to finish their enrollment.

#### Acceptance Criteria:

- [ ] join bulk enrollment table with enrollment table to find users who have been sent an enrollment code but have never enrolled
- [ ] allow searc

[2019-09-23 19:05] #1081 closed

[2019-09-24 11:50] asadiqbal08 opened #1148 "Program Certificate should no create for standalone course."
### Steps to Reproduce

- Create a course that is not associated with any program.
- Enroll user for this course.
- `CourseRunCertificate` will create after passing the course.
- As the course is not associated with any program so getting
`AttributeError: 'NoneType' object has no attribute 'courses'`

### Expected Behavior

As the course is not associated with any program so getting  so [generate_

[2019-09-24 11:53] ahmed-arbisoft commented on #1123
Already merged

[2019-09-24 11:53] #1123 closed

[2019-09-24 13:26] ahmed-arbisoft commented on #1049
@noisecapella is this still applicable? Correct me if I'm wrong but I think the header design has changed and there is no hamburger menu anymore.

[2019-09-24 15:34] rhysyngsun opened #1151 "Make the Courses API public"
Open needs to be able to call this API to discover courses that aren't part of a program, so we need to make it public like we did for the programs API: https://github.com/mitodl/mitxpro/blob/master/courses/views.py#L26

- [ ] Verify no sensitive or user-specific data is returned in this API (if the answer is yes, make this safe for anonymous users)
- [ ] Don't require authentication/permissions f

[2019-09-24 16:40] mbertrand commented on #1129
@pdpinch how about a program URL so that in open there can be a link to enroll in the program?

[2019-09-24 17:03] pdpinch commented on #1129
Yes please. A program URL would be useful.

It should probably be the program marketing page.

[2019-09-24 17:05] mbertrand commented on #1129
I added a checkbox for that in the issue description.

[2019-09-25 10:21] asadiqbal08 commented on #981
Rendering of error messages are introduced in [PR](https://github.com/mitodl/mitxpro/pull/1143). I am going to merge it.
I tried with empty `Tag` field but did not get any `400` status over there. The below is `200` response that I get with `null` tag field.

[code]
Can you please confirm, is it still an existing issue ?

[2019-09-25 10:23] #953 closed

[2019-09-25 10:31] asadiqbal08 opened #1153 "Need to update commands in MitxPro Readme"
Some of the commands that are mentioned in [mitodl-readme-file](https://github.com/mitodl/handbook/blob/master/common-web-app-guide.md) need to update for mitxpro project.

For example. Path to `js_test.sh` under the doc is not correct for mitxpro.

#### Acceptance Criteria:

- [ ] Update the Mitxpro [ReadMe](https://github.com/mitodl/mitxpro/blob/master/README.md) document according to current te

[2019-09-25 13:26] noisecapella commented on #1129
I'm not finding the  `end_date` logic in the program page. Just to confirm, the `end_date` is the end date for the latest valid course run for any course in a program?

[2019-09-25 14:04] ahmed-arbisoft commented on #1033
@pdpinch could you please explain the test information you shared in the link? I'm having difficulty understanding the format.

[2019-09-25 16:02] pdpinch opened #1156 "503 response to /api/bulk_enroll"
### Steps to Reproduce

I can't easily test reproducibility, but this is what I was doing when it happened.

1. I created a coupon (for a single program) with 200 enrollment codes
2. I uploaded a list of 174 emails to bulk mail.

### Expected Behavior

- success message "174 messages sent"
- 174 emails sent my mailgun

### Actual Behavior

- no success message
- 503 response to the POST to /api/bu

[2019-09-26 12:13] #972 closed

[2019-09-26 12:32] #1148 closed

[2019-09-26 13:19] #1106 closed

[2019-09-26 16:29] #1071 closed

[2019-09-26 18:42] noisecapella commented on #1049
Yes I think you're right @ahmed-arbisoft

[2019-09-26 18:42] #1049 closed

[2019-09-26 19:10] #1129 closed

[2019-09-27 13:37] pdpinch opened #1162 "Display account created date and last login date on user admin page"
As an admin, I would like to know when a user's account was created and when they last logged in.

#### Acceptance Criteria:

- [ ] make /admin/user/user/{user.id} behave similarly to /admin/auth/user/{user.id} in our other django apps

#### Out of Scope

- no migrations please

[2019-09-27 14:42] pdpinch commented on #1018
@mitodl/devops has then been released to any of the xPRO open edX instances?

[2019-09-27 14:44] pdpinch commented on #1036
After a hard refresh, this is working for me now in production.

[2019-09-27 14:44] #1036 closed

[2019-09-27 14:45] shaidar commented on #1018
No as the last build for qa is from 9/3. Working on deploying a new build which should include this.

[2019-09-27 15:36] gsidebo opened #1163 "Some users end up with no CourseRunEnrollment after completing checkout"
We've had quite a few users go through checkout to purchase a course run and somehow end up with no `CourseRunEnrollment` record. Even if the edX side of the enrollment fails, there should be a `CourseRunEnrollment` record created with `edx_enrolled=False`.

There isn't a known way to reproduce this, but the bug seems to happen most commonly for users that had usernames greater than 30 characters

[2019-09-27 15:54] mbertrand opened #1165 "Add 'instructors' field to each program in the catalog API output."
The field should be in the same format as for course run instructors:

[code]
[code]

[2019-09-29 19:36] pdpinch commented on #1163
Related issue, with examples in production: https://github.com/mitodl/mitxpro/issues/1101

Although it's not obvious from @maxliu's query in #1101, it seems like all the missing enrollments are related to program purchases.

[2019-09-29 19:55] pdpinch commented on #1101
We're down to two of these now. One is from a user who has requested a refund, so I'm not inclined to try to fix it until that's processed.

The second is from a Open Learning staff user, which is useful to keep around until we address #1163

[2019-09-29 20:33] pdpinch commented on #981
This is no longer an issue.

[2019-09-29 20:33] #981 closed

[2019-09-29 20:37] pdpinch commented on #1033
We need to have courses in the seed data that match the courses in the test PDFs:

course number: AMxB
course name: Additive Manufacturing for Innovative Design and Production
dates: 04/30/2018 - 07/02/2018

course number: SysEngxB3
course name: Model-Based Systems Engineering: Documentation and Analysis
dates: 04/09/2018 - 05/07/2018

[2019-09-30 00:26] pdpinch commented on #1165
Do you mean the API at `/api/programs` ?

[2019-09-30 00:37] pdpinch opened #1167 ""unredeemed coupon" message displays even when coupon has been used"
### Steps to Reproduce

1. Create a 100% off program coupon
2. Use the bulk email feature to send the coupon to a user with a broken or missing edX account
2. Log in with the user
3. You should see a banner message telling you that you have an unredeemed coupon
3. Use the coupon to purchase the program

### Expected Behavior

- User is enrolled in the program and all its courses
- The banner messa

[2019-09-30 00:39] pdpinch commented on #1156
This was probably fixed by #1152

[2019-09-30 00:39] #1156 closed

[2019-09-30 00:51] pdpinch commented on #1066
duplicate of #1122. Fixed by #1127

[2019-09-30 00:51] #1066 closed

[2019-09-30 00:53] pdpinch commented on #1023
this will probably be replaced by #1165, which will be simpler to implement.

[2019-09-30 00:54] pdpinch commented on #1007
I believe this has already been implemented, since there are currently 0 errors when running the management command.

[2019-09-30 00:54] #1007 closed

[2019-09-30 00:57] pdpinch commented on #949
This hasn't happened again since 8/5/2019

[2019-09-30 00:57] #949 closed

[2019-09-30 01:07] pdpinch commented on #111
Looks like this has been working for some time.

[2019-09-30 01:07] #111 closed

[2019-09-30 14:24] ahmed-arbisoft commented on #1033
@pdpinch I'm getting a little confused over the vouchers ticket. I see there is a `Voucher` model and `Coupon` model, however the ticket title refers to vouchers whereas the acceptance criteria outlines the creation of `Coupon` objects. I'm not really familiar with how these two work together, could you please help me out with what's exactly required? (when you have time, of course)

[2019-09-30 15:10] #1121 closed

[2019-09-30 15:57] gsidebo commented on #1163
@pdpinch FYI, on Friday I was able to reproduce this situation locally: I created a user with a 50 char username so the corresponding user couldn't be created on the edX side. I completed checkout with a course run and went through. I was able to complete the Cybersource checkout successfully and was redirected back to the xpro dashboard with no enrollments. There was no immediate error message, b

[2019-09-30 16:41] mbertrand commented on #1165
yes

[2019-09-30 17:09] gsidebo opened #1168 "Courses should still appear in the catalog if start date is past but enrollment is open"
If a course has a single course run with a past `start_date` but a future `enrollment_end`, we should still show that course in the catalog. As of the creation of this issue, we hide all courses that only have course runs with past `start_dates`

[2019-09-30 17:31] #1151 closed

[2019-09-30 21:42] gsidebo opened #1170 "Fix repetitive looping in CatalogPage rendering"
We have some properties on the `Program`/`Course` classes that help us determine some state based on all of the associated course runs. For example: `next_run_date`, which loops through all associated course runs and returns the soonest future start date. That's fine for determining that value and using it once, but it's less ideal for a situation like the catalog page, where we want to filter _an

[2019-09-30 22:20] pdpinch opened #1171 "Add topics field to course model and add to API"
As a user, I'd like to be able search and filter courses and programs by topic.

This issue only addresses the backend for topics.

#### Acceptance Criteria:

- [ ] Add a data model for topics
- [ ] Add topics to course model
- [ ] add topics to seed data
- [ ] include topics in course API

#### Related issues

- #1172 Aggregate course topics for inclusion in program API

[2019-09-30 22:23] pdpinch opened #1172 "Add topics field to program API"
As a user, I'd like to be able search and filter programs by topic.

This issue only addresses the backend for topics.

#### Acceptance Criteria:

- [ ] include topics in program API
- [ ] the topics for a program should be the union of its courses' topics

#### Related issues

- #1171 Add topics field to course model and add to API

[2019-10-01 01:19] #1168 closed

[2019-10-01 01:31] pdpinch opened #1173 "Send a GTM event when the user completes a purchase"
As a digital marketing manager, I would like to be track sales conversions directly with the advertisting platform, but sending event purchase data. Advertising platforms like Google and FB will learn faster which similar users on these platforms are more likely to convert and expedite optimizations.

Since there isn't a page URL that's unique to the checkout process, we should send an event via G

[2019-10-01 01:32] pdpinch opened #1174 "Add ZenDesk web widget"
As a user, I'd like self-service context-sensitive help, so I can see FAQ answers that are relevant to the page and course I'm looking at.

As a member of the customer support team, I want more context when users ask me questions, so I don't have to start the conversation with "what course are you asking about"

#### Designs and Mockups

The help widget should look and function on xpro.mit.edu the

[2019-10-01 12:51] pdpinch commented on #1033
Please see https://docs.google.com/document/d/1UtVeoeXaWfv887t_ZoTcDRhzwZRguZD6sn8ltQELP4M/edit#heading=h.dy8gvng8nb57 for the basic flow.

At a high level, the user uploads the voucher and gets a coupon in return. From there, the flow follows the standard checkout.

For the seed data, we need to set up coupons that match the test vouchers:
- [ ] the coupon's company has to match the test company

[2019-10-01 18:00] gsidebo opened #1176 "Investigate Google Sheets API"
We're looking into the possibility of using Google Sheets to let non-ODL-engineering folks manage bulk enrollment use cases. As part of this issue, we will investigate whether or not the Google Sheets API gives us the ability to do the following:

1. Read rows of data that contain user email addresses and coupon codes
1. Respond to changes in a sheet (e.g.: 2 rows were added and 1 row was changed

[2019-10-01 19:04] pdpinch commented on #368
Note that we already have a "forgot password" option but that requires the user to be able to receive an email. Enabling a simple "change password" UI would allow us to help people change their password even when they are having trouble receiving the email.

[2019-10-01 21:26] gsidebo commented on #1176
@pdpinch I have working code samples that demonstrate that all 3 of these are possible as long as we grant our API client read/write/edit permissions in Sheets, and if we want to respond to updates to certain sheets, metadata read permissions in Drive. Regarding that feature, I first wanted to make sure that we could get the last modified date from the API so we could support polling for changes w

[2019-10-02 07:32] #1063 closed

[2019-10-02 10:24] ahmed-arbisoft commented on #1173
@pdpinch can you please clarify which UTM variables will be available at the checkout page for tracking/attribution to sources?

[2019-10-02 12:18] umarmughal824 commented on #343
@abdulkdawson Can you please share the loader image(gif)?

[2019-10-02 14:02] #1141 closed

[2019-10-02 14:07] pdpinch commented on #343
Can you download it from InVision using the Inspect mode?

[2019-10-02 14:36] #1104 closed

[2019-10-02 15:01] abdulkdawson commented on #343
@umarmughal824 Here you go.

![25 (3)](https://user-images.githubusercontent.com/49685474/66055652-dc962200-e503-11e9-8f5a-a744ff3e40a6.gif)

[2019-10-02 19:21] gsidebo opened #1179 "Use Google Sheets to manage bulk enrollment"
We've experienced some difficulty with our bulk enrollment practice of generating coupon codes for a list of emails and sending those codes off to our customers to be assigned. In order to give admins/customers more control over enrollments for members of their organization, and allow them to do so in a familiar app, we want to allow them to maintain enrollees and coupon assignments in Google Shee

[2019-10-02 19:40] gsidebo opened #1180 "Generate coupon codes from a coupon generation Sheet when it's updated"
Coupon request Sheet = Sheet that contains rows that indicate a set of bulk coupons that should be created (fields will include transaction id (PO), number of coupon codes, coupon name, expiration, program/course, type, company)

To Do:
- Figure out best way to authenticate/authorize our app for Sheets/Drive and store those credentials
- Create coupon request Sheet for testing purposes
- Create we

[2019-10-03 07:25] umarmughal824 commented on #343
thanks @abdulkdawson .

[2019-10-03 08:56] ahmed-arbisoft commented on #1173
@pdpinch is there a development Google Tag Manager (GTM) container that I can use for testing this out and can I get dev access to it?

[2019-10-03 12:04] asadiqbal08 commented on #1162
@pdpinch we need to add a field for `Date Joined` as our `User` model is inherit from `AbstractBaseUser` instead of `AbstractUser`.

So the question is that, what datetime should be there for existing users records for the `date_joined` field  ? e.g. 01-01-1970 ?

[2019-10-03 13:53] ahmed-arbisoft commented on #1173
@pdpinch I'm copying the Slack messages here for future reference:
GTM is actually a single hub where you can configure your analytics. There are events (triggers) that you can initiate and any configured integrations to analytics (tags) are fired/executed. An example would be a `Pageview` trigger firing a "send XYZ var values to GA" tag.
I was hoping to find some sort of "purchase" trigger alread

[2019-10-03 13:56] pdpinch commented on #1162
I'm confused. In the database there’s a field `users_user.created_on`

Can’t we just expose that in the admin?

[2019-10-03 14:15] asadiqbal08 commented on #1162
Yes then simple it is.

[2019-10-03 16:06] shaidar commented on #1018
@ahmed-arbisoft Does this require any additional configuration variables cause I just completed a new ami build for RC and verified that your changes are on disk, however I'm still setting the `Enroll now` button

[2019-10-03 16:27] #1080 closed

[2019-10-03 17:28] gsidebo opened #1183 "Update xpro and edx usernames in deployed environments"
[EdX username updater repo](https://github.com/mitodl/edx-username-updater)
Related: #1094, #1131

Users with ulid usernames need to be updated in xpro and edx in production (and, optionally, in RC/CI). The instructions for carrying out this update are in the EdX username updater repo readme linked above

[2019-10-03 18:23] #1176 closed

[2019-10-03 19:41] pdpinch commented on #965
FWIW, I was able to work around this by using Windows Latin1 encoding, with Windows line endings for the file.

I'm not sure, but I think the problem is that one of the tools (probably Excel?) adds a BOM a the head of UTF-8 files.

[2019-10-03 20:10] pdpinch opened #1184 "In ecommerce admin, sort all the dropdowns"
As an admin, it can be hard to find what I'm looking for in the coupon dropdowns. It would be easier if things were sorted.

#### Acceptance Criteria:

- [ ] on /ecommerce/admin/coupon sort the companies alphabetically
- [ ] on /ecommerce/admin/enrollment use product readable ids instead of product names
- [ ] on /ecommerce/admin/enrollment sort the products by readable id
- [ ] on /ecommerce/admi

[2019-10-04 11:23] #978 closed

[2019-10-04 11:31] asadiqbal08 commented on #1174
@pdpinch As per the [Zendesk Help Page](https://support.zendesk.com/hc/en-us/articles/115009522787-Adding-the-Web-Widget-to-your-website-or-Help-Center#topic_kf2_xcj_vz), In order to integrate the help widget in `xpro.mit.edu`, I need the code that I will place in our pages body. It seems me, Either I should be the admin or you can provide it to me ?
Let me know if I am missing something over it.

[2019-10-04 11:36] #1018 closed

[2019-10-04 12:30] pdpinch commented on #1174
Code from https://odl.zendesk.com/agent/admin/widget

[code]

[2019-10-04 12:43] asadiqbal08 commented on #1174
Thanks for sharing the script. As I am not authenticated to https://odl.zendesk.com/agent/admin/widget

[2019-10-04 12:53] pdpinch opened #1188 "Reports: add dates to Master Product report"
#### Acceptance Criteria:

- [ ] start_date
- [ ] end_date
- [ ] enrollment_start
- [ ] enrollment_end

#### Out of Scope

- I don't think archive date is useful for this report
- If Program products are too difficult, we can omit those for now.

[2019-10-04 13:54] asadiqbal08 commented on #1174
A question is that, why we need to be specific to some certain pages for the help widget to appear? why not everywhere for the login users ?

[2019-10-04 13:55] #1162 closed

[2019-10-04 14:10] pdpinch commented on #1174
If you can add it in a way that works on all pages, that’s great. But when we implemented it on MicroMasters we had some difficulty mixing it in with different page templates (notably, react based pages).

Also, it needs to work for users who don’t have an account yet too.

[2019-10-04 16:18] pdpinch opened #1189 "ProductVersion admin page crashes"
#### Acceptance Criteria:

- [ ] add `product` to `raw_id_fields` for the ProductVersion admin

[2019-10-04 18:06] maxliu commented on #1188
draft version : https://bi.odl.mit.edu/queries/669#1136

as we discussed, there is no data for "program".

[2019-10-04 18:21] #1165 closed

[2019-10-07 08:26] #343 closed

[2019-10-07 12:34] pdpinch commented on #1188
@maxliu we need times as well.

It looks like UTC will be best because that's how the time is set in open edX Studio and also how it's set in the xPRO django admin.

[2019-10-07 12:58] pdpinch commented on #1173
@ahmed-arbisoft I will send you an invite to the GTM account for xPRO CI and RC. In the meantime here is the GTM JavaScript code:

[code]

[code]

I expect this will be similar to code we already have on the site, but with a different ID.

[2019-10-07 13:37] pdpinch opened #1192 "Add times to dashboard"
As a user, I'd like to know the exact time that the course starts, so I'm not checking and re-checking the dashboard over a 24 hour period.

As a customer support person, I'd like to avoid multiple tickets about the link to the course and when it will be available.

#### Designs and Mockups

- [ ] Add time to the dashboard

#### Acceptance Criteria:

- [ ] Since the date is already displayed in lo

[2019-10-07 19:36] maxliu commented on #1188
@pdpinch I have changed the date to datetime (UTC).

[2019-10-08 06:26] #1189 closed

[2019-10-08 11:33] asadiqbal08 commented on #1192
Do you mean, the time some thing like that along with Date ?

<img width="974" alt="Screen Shot 2019-10-08 at 4 32 41 PM" src="https://user-images.githubusercontent.com/7334669/66392453-5a1ccf00-e9e9-11e9-8ec7-170c5975c296.png">

[2019-10-08 12:37] pdpinch commented on #1188
LGTM

[2019-10-08 12:37] #1188 closed

[2019-10-08 12:44] pdpinch opened #1195 "Dashboard display is wonky on IE 11"
### Steps to Reproduce

1. Enroll in a program
2. View the dashboard in IE11
3. Click the button to reveal the list of courses

### Expected Behavior

- box appears that is just large enough to contain all the courses.

### Actual Behavior

- super-long box appears

### Screenshot or Screencast
![bs_win10_IE_11 0-1](https://user-images.githubusercontent.com/430126/66396436-c1199400-e9a7-11e9-9667-

[2019-10-08 12:44] pdpinch commented on #1195
I noticed this in browserstack

[2019-10-08 15:29] pdpinch commented on #1018
@shaidar you need to set the "invitation only" advanced feature to True for the course you are testing. Have you done that?

[2019-10-08 15:29] pdpinch commented on #1018
@ahmed-arbisoft we probably could have used some more instructions in the PR description about how to test this.

[2019-10-08 15:44] pdpinch commented on #1145
@maxliu I think we can close this?

[2019-10-08 16:40] ahmed-arbisoft commented on #1018
@pdpinch agreed, I've updated the PR description with testing process.

[2019-10-08 17:39] shaidar commented on #1018
@pdpinch Yeah I missed setting the `invitation only` feature. Guess that explains why the issue was closed.

[2019-10-08 19:54] pdpinch commented on #1101
One of them was a duplicate order, related to a failed username creation. We refunded the duplicate.

We are now down to just one issue, which is related to a staff member at MIT who used a coupon.

[2019-10-09 01:13] pdpinch commented on #1183
We ran this today and it appeared to work.

[2019-10-09 01:13] #1183 closed

[2019-10-09 01:41] pdpinch opened #1199 "allow admin to specify order_id when running refund_enrollment"
As an admin, I sometimes need to refund an enrollment when a user has multiple enrollments (for example, the user may have gotten a refund, and then enrolled again).

In the current implementation of the management command, I can only specify the user's email and the run. If there are multiple, the action is taken on the first one.

If I could specify the order (by id number), then I would be able

[2019-10-09 09:49] ahmed-arbisoft commented on #1173
@pdpinch could you please provide me the sandbox cybersource key and any other info that might be useful in carrying out purchase test scenarios?

[2019-10-09 10:14] ahmed-arbisoft opened #1200 "Certificate Creation Task is Failing"
### Steps to Reproduce
Setup celery, have a course complete on xpro and have grades through Open or create them in xpro manually. The automated course certificate generation task should run at midnight (timing is configurable). There should be a failure log available on the task breaking point.

### Stacktrace
[code]

[2019-10-09 10:56] #1200 closed

[2019-10-09 12:02] #964 closed

[2019-10-09 13:42] ahmed-arbisoft opened #1203 "Export inquiry admin action not working"
### Steps to Reproduce
Export compliance admin action is not working correctly. Only the compliance record is updated, user is not activated.

### Background
In the final rebase of the PR before merge, one line was mistakenly moved above the loop which caused the command to only partially work.

### Related Issues
#978

[2019-10-09 14:07] #1203 closed

[2019-10-10 08:01] asadiqbal08 commented on #1195
[PR](https://github.com/mitodl/mitxpro/pull/1202) is up

[2019-10-10 12:22] pdpinch opened #1205 "certficate button 404"
### Steps to Reproduce

1. Create a certificate for a user
2. But don't create the certificate template in the CMS
3. Log in as the user and go to /dashboard

### Expected Behavior

- No certificate button is displayed because the certificate doesn't exist

### Actual Behavior

- Certificate button is displayed on the dashboard
- clicking the button results in a 404

[2019-10-10 13:24] #1205 closed

[2019-10-10 15:47] abdulkdawson commented on #1192
@asadiqbal08 I think we need to add am/pm to the time to avoid confusion.

[2019-10-11 01:13] pdpinch opened #1208 "Reports: remove HTML from the CSV"
### Steps to Reproduce

1. Download the Master Product List from https://bi.odl.mit.edu/queries/669#1136
2. Open in Excel or similar

### Expected Behavior

- The values in the product_id column should be, for example `course-v1:xPRO+DSx+R11`

### Actual Behavior

- The values in the product_id column contain HTML like `<a href="https://xpro.mit.edu/checkout?product=1">course-v1:xPRO+DSx+R11</a>`

[2019-10-11 01:39] maxliu commented on #1208
Added additional column for link. The product_id column will be plain text.

![image](https://user-images.githubusercontent.com/4793638/66618235-69954700-eba6-11e9-9710-1e11c2302333.png)

Tim's team can still use the link column to jump to the check out page.

[2019-10-11 09:53] tasawernawaz commented on #1170
@gsidebo Given that we have already merged #1169 and #1150. Could you please take another look at this, can tell me if this is still valid.

[2019-10-11 12:53] pdpinch opened #1211 "Display course/program readable id on bulk enrollment form"
As an admin, I can't tell the difference between multiple runs of the same course, all which have the same name. This makes it hard to use the bulk enrollment form.

#### Design

Currently, the form looks like this, at /ecommerce/admin/enroll :

<img width="1680" alt="Screen Shot 2019-10-11 at 8 54 38 AM" src="https://user-images.githubusercontent.com/430126/66652903-ce7f8a00-ec04-11e9-803b-585c92

[2019-10-11 12:55] pdpinch commented on #1211
updated the screenshot in the description

[2019-10-11 13:48] pdpinch commented on #1145
Actually, it looks like we need to decide the permissions issue before we close this.

[2019-10-11 14:02] pdpinch opened #1212 "Expand clickable area for user menu"
### Steps to Reproduce

1. Log in
2. Mouse over the user menu

### Expected Behavior

- Cursor changes from arrow to finger
- clickable area includes the rectangular area that includes the avatar _and_ the dropdown area

### Actual Behavior

- no change in cursor to reinforce clickable area
- clicking slightly below the downard-pointing arrow does nothing, leading to confusion

[2019-10-11 14:07] pdpinch opened #1213 "Add metadata headers to outgoing email"
As a data scientist, I'd like to be able to filter email based on it's purpose and other metadata.

As a member of the sales or customer service team, I would like to be able to confirm that enrollment codes were sent, opened and clicked in order to make sue that all intended learners get enrolled in courses.

#### Acceptance Criteria:

- [ ] Use the anymail API to add metadata to outgoing mail. U

[2019-10-11 14:08] pdpinch commented on #1213
I think this is the relevant Anymail API: https://anymail.readthedocs.io/en/stable/sending/django_email/#additional-headers

[2019-10-11 14:09] pdpinch commented on #1213
@maxliu @gsidebo can you review this issue description and comment on the metadata we will need to pass in the mail headers?

[2019-10-11 15:48] #1171 closed

[2019-10-11 15:50] maxliu commented on #1213
I think this is good enough at least for the project of adding email status to the "product_coupon_status" table. Just wanted to be more specific about the tags if it is doable. Here is an example I can think of.

[code]

We could join this to the "Product_Coupon email & redeem status" using 'enrollment_code' , ''courserun' / 'program' and 'purpose' .

[2019-10-11 16:45] #1153 closed

[2019-10-11 17:30] pdpinch opened #1214 "Certificates: don't create certificates if there is no template"
We had a course end prematurely and it had no certificate template configured in Wagtail. However, we created the certificates anyway, leading to a number of unviewable certificates (that return 404s).

#### Acceptance Criteria:

- [ ] Don't create certificate records if there is no certificate template
- [ ] If and when the certificiate template becomes available,

#### Questions

- **Q:** If and

[2019-10-11 17:31] pdpinch opened #1215 "Certificates: management command to revoke certificates"
As a member of the course team, I need a safe and reliable way to revoke a certificate.

#### Acceptance Criteria:

- [ ] At this time, a management command should be sufficient, where I can specify the user and the course run or program, in the case of a program certificate.

[2019-10-11 17:42] #1172 closed

[2019-10-11 19:49] blarghmatey opened #1217 "Increase DB size for CI environment"
The DB plan for CI is causing issues with connection limits when trying to set up PR apps. Increase the size to increase the number of available connections.

[2019-10-14 09:48] #1195 closed

[2019-10-14 12:07] asadiqbal08 commented on #1199
@tasawernawaz can you please also add the testing instructions section ?

[2019-10-14 12:19] asadiqbal08 commented on #1199
Ok got over the PR.

[2019-10-14 13:32] pdpinch opened #1219 "Captcha won't load in review apps"
### Steps to Reproduce

1. Build a review app in heroku
2. navigate to /create-account

### Expected Behavior

- Captcha should appear, using same Google key as CI

### Actual Behavior

- Captcha errors
- cannot create an account without a working captcha

### Screenshot or Screencast

(Optional)
<img width="634" alt="image" src="https://user-images.githubusercontent.com/430126/66750900-b2c1f100-e

[2019-10-14 14:36] pdpinch commented on #1093
@tasawernawaz I see the management command has been merged and deployed. Does this depend on an edX configuration update as well?

[2019-10-14 14:38] pdpinch commented on #1093
Also, does the salt setting need to be configured in production?

[2019-10-14 16:37] #971 closed

[2019-10-14 16:38] pdpinch commented on #971
This is moot now that #1080 was successful (more or less)

[2019-10-14 16:38] pdpinch commented on #10
We can close this epic after we've completed some user testing with certificates

[2019-10-14 16:39] #907 closed

[2019-10-14 17:52] tasawernawaz commented on #1093
@pdpinch we have management command to retire user's from MITxPRO and it does not depend on edX. However, as we want to retire user's from edX as well. We have to [Enabling the User Retirement Feature](https://edx.readthedocs.io/projects/edx-installing-configuring-and-running/en/latest/configuration/user_retire/) to run the script to retire users from edX and may need to perform some manual steps

[2019-10-14 18:28] pdpinch opened #1220 "Enable"
As a user, I would like to be able to retire my account in open edX.

As an admin, I'd like to run a single management command to retire a user's account in xPRO and open edX.

#### Designs and Mockups

https://edx.readthedocs.io/projects/edx-installing-configuring-and-running/en/latest/configuration/user_retire/

#### Acceptance Criteria:

- [ ] follow the edX configuration instructions at https:

[2019-10-14 19:15] pdpinch commented on #284
As far as I can tell, this part works now, by leveraging the `next` query parameter -- although I did test it using the same browser:

[2019-10-15 06:49] #1199 closed

[2019-10-15 10:11] tasawernawaz commented on #1170
@gsidebo I did some discovery on this one and also tried to use Django `@cached_property` decorator on `next_run_date` for the program and course to enhance the performance of the catalog page. However, on local, it does not show convincing results because I have very few products setup for the catalog page.

Could you please share your thoughts about `@cached_property` or any other recommendation

[2019-10-15 13:17] asadiqbal08 commented on #1214
@ahmed-arbisoft If I am not wrong. Is it not be done in [PR-1206](https://github.com/mitodl/mitxpro/pull/1206) ?

[2019-10-15 13:20] ahmed-arbisoft commented on #1214
@pdpinch the hotfix I provided earlier in the PR mentioned actually withholds certificate info from the client if there is no wagtail template which for all practical purposes achieves the desired effect. Although the certificate was generated at the time the course ends, it (the link or data) does not show up in the API response (and in turn the front end) until the required templates have been c

[2019-10-15 13:23] shaidar commented on #1217
@gsidebo This is done and should help with your testing since now there are 120 total connections available.

[2019-10-15 13:23] #1217 closed

[2019-10-15 14:06] ahmed-arbisoft commented on #1173
@pdpinch can you please get a sample ad URL from the marketing team so I can track down where the user lands and what attribution info needs to be carried forward to the checkout page?

[2019-10-15 14:13] pdpinch commented on #1214
Ok, I've put this on hold until we understand the business requirements better.

[2019-10-15 14:43] pdpinch commented on #1173
Does this help?

https://xpro.mit.edu/courses/course-v1:xPRO+DSx/?utm_medium=paidsocial&utm_source=mitxpro&utm_campaign=test&utm_content=fb-test

[2019-10-15 14:48] pdpinch opened #1222 "Program Product Page: use first course in program for calculating start dates"
As a member of the marketing team, I'd like the product page for a program to display the next starting date of course 1 in the program, to encourage learners to sign up for programs in order, and discourage learners from taking the courses out of order.

For example:

#### Acceptance Criteria:

- [x] Change the start date displayed on the program product pages
- [x] make any necessary changes to

[2019-10-15 14:49] pdpinch commented on #1222
@noisecapella will changing this marketing page affect the programs API that you set up for MIT Open?

[2019-10-15 15:05] pdpinch commented on #1208
LGTM!

[2019-10-15 15:05] #1208 closed

[2019-10-15 18:53] noisecapella commented on #1222
The marketing pages do not use the programs REST API so I don't think updating the programs API will affect them.

[2019-10-16 12:52] pdpinch opened #1224 "Omit courses and programs that are not live from the the courses and programs APIs"
As a user of the MIT Open site, which has a search index that includes xPRO courses, I don't want to see courses in my search results that I can't (or shouldn't) enroll in.

#### Acceptance Criteria:

- [ ] omit any courses and courseruns that are not live from the from the course API results
- [ ] omit any courseruns that don't have products from the course API results
- [ ] omit any programs tha

[2019-10-16 12:52] pdpinch commented on #1224
@noisecapella let me know if this makes sense.

[2019-10-17 02:27] pdpinch commented on #1224
That's correct, as discussed. We don't want an inheritance of this setting.

[2019-10-17 02:32] pdpinch opened #1226 "Can't use forgot password form while logged in"
### Steps to Reproduce

1. Create a new account, including verifying the email address and completing the profile.
2. While you are still logged in, try to use the forgot-password function to change the password.

### Expected Behavior

- password reset email is sent and arrives in the inbox

### Actual Behavior

- password email is never sent, as confirmed by examining the mailgun logs.

[2019-10-17 02:59] pdpinch opened #1227 "Vouchers: sort matching courseruns by similarity"
As a voucher user who has uploaded their voucher, I would like the first choice in the drop-down to be the courserun with the title that most closely matches the course title on the voucher I uploaded.

As a member of the customer service team, I'd like to increase the likelihood that voucher users enroll in the correct course, and avoid them opening a support ticket.

#### Acceptance Criteria:

-

[2019-10-17 14:37] asadiqbal08 commented on #1222
Here I have few questions that needs some clarifications.

1- Firstly, As per my assumptions, CourseRuns will always be in a sequence in a program e.g.
[code]
2- Program's `Next Start Date` will not be appeared on `Catalog` page if the start date of the course (at position 1) in a program has been passed ? Talking about this:

<img width="967" alt="Screen Shot 2019-10-17 at 7 29 58 PM" src="https:

[2019-10-17 16:39] pdpinch commented on #1222
Good questions Asad. This issue is on hold until we get some further clarification about requirements.

[2019-10-17 17:32] noisecapella commented on #1224
Just to confirm: if a course run does not have a product but the programs API is being viewed, the course run should **not** be filtered out, right?

[2019-10-17 17:50] pdpinch commented on #1224
That's correct -- but let me know if that makes things overly complicated.

[2019-10-17 18:02] pdpinch opened #1232 "New CMS page for external-course"
As a member of the marketing team, I'd like to be able to create CMS pages for an external course, which will be purchased and delivered on another web site.

#### Acceptance Criteria:

- [x] Add a new child page option for courses, "external course"
- [x] Similar to the existing course page template, but omit the "Course" drop-down
- [x] Add necessary fields:
  - [x] "external URL"
  - [x] "reada

[2019-10-18 00:40] pdpinch commented on #1222
This is still on hold, but I have some answers:

1. Course runs should always be in chronological order.
2. I have been told that there should always be a future run. I don't actually believe that, but I do take that to mean that the program should be removed from the catalog page if there is no coursesrun in the first position.
3. Similarly, we can hide the enroll button when there is courserun i

[2019-10-18 00:59] pdpinch opened #1233 "When user has multiple unredeemed coupons, only one message displays"
### Steps to Reproduce

1. Create enrollment codes for at least two different courses or programs
2. Use the bulk enrollment feature (`/ecommerce/admin/enroll/`) to email at least two different enrollment codes to the same email address.

### Expected Behavior

The banner at the top of the page should include a message and link about each unused enrollment code.

### Actual Behavior

Only one mess

[2019-10-18 01:31] #1023 closed

[2019-10-18 02:06] pdpinch opened #1234 "Allow learners to be tranfered or enrolled into expired course runs"
As a member of the customer service team, sometimes I need to move a learner into a course after the enrollment_end date has passed. In these case, I have warned learners that they may have missed some assignments, but they still need to be enrolled.

#### Acceptance Criteria:

- [ ] When the `-f` or `--force` switch is used with the `defer_enrollment` or the `transfer_enrollment` management comma

[2019-10-18 06:26] tasawernawaz opened #1235 "Fix n+1 queries on home page"

[2019-10-18 06:30] tasawernawaz commented on #1235
Fyi @pdpinch, please prioritize it accordingly.

[2019-10-18 06:43] asadiqbal08 commented on #1222
Yet, I am moving back it into pool.

[2019-10-18 11:17] #1174 closed

[2019-10-18 11:17] #1192 closed

[2019-10-18 13:27] ahmed-arbisoft commented on #1235
@tasawernawaz looks like this is not going to be possible. These images are coming from `CoursewareCarousel` content, which is in a streamfield. Same goes for the `ImageCarousel` being used for the company logos. Streamfield stores its contents in a single column in JSON format. As such, the usual `prefetch_related` and `select_related` optimizations of the Django ORM do not work on that. I'm pret

[2019-10-18 17:30] gsidebo commented on #1213
@pdpinch @maxliu Good news: I've successfully tested a message with some custom variables and tags attached. Here's a screenshot of the data attached to the message in Mailgun:
<img width="870" alt="ss 2019-10-18 at 13 25 38 " src="https://user-images.githubusercontent.com/14932219/67114870-dc0bb580-f1aa-11e9-898c-70979e127b59.png">

My instinct is to put the enrollment code and the course run/pro

[2019-10-18 19:37] maxliu commented on #1213
@gsidebo Thanks. I am able to parse the tags and user-variables from the mailgun record.

![image](https://user-images.githubusercontent.com/4793638/67122684-58f35b00-f1bc-11e9-81fd-c5d70008be22.png)

A related questions:

@pdpinch Is it possible we send two emails for one enrolment code? If that is the case, how do we distinguish them (use subtile) ? and how should we report it in the query of ht

[2019-10-18 20:09] #1224 closed

[2019-10-20 17:00] pdpinch commented on #1145
Permission issue has been addressed.

[2019-10-20 17:00] #1145 closed

[2019-10-21 09:08] ahmed-arbisoft opened #1239 "Zendesk widget init code causing a ReferenceError if not enabled"
### Steps to Reproduce
Go to any page on xPRO without enabling the Zendesk Widget.

### Expected Behavior
The page should work as expected without any JS errors.

### Actual Behavior
There is a `ReferenceError` because the Zendesk widget intialization code does not honor the `help_widget_enabled` setting and always tries to initialize even when the Zendesk JS lib hasn't been included in the docume

[2019-10-21 10:39] ahmed-arbisoft commented on #1239
Not applicable anymore.

[2019-10-21 11:10] ahmed-arbisoft commented on #1226
@pdpinch should this even be allowed? Usually "forgot password" functionality is only for unauthenticated users who can't get into their accounts. The counterpart for authenticated users should be "change password" not "forgot password", IMHO this should actually be cordoned-off for logged in users.

[2019-10-21 11:46] #843 closed

[2019-10-21 11:58] pdpinch commented on #1232
I added a checkbox for adding the external course to the catalog page.

[2019-10-21 12:06] asadiqbal08 commented on #1211
@pdpinch after reanalyzing this stuff with @umarmughal824 's PR. It seems me it would be resolved by [pull#1193](https://github.com/mitodl/mitxpro/pull/1193). Can you confirm after the merge if any else action is required for that issue ?

[2019-10-21 12:31] pdpinch commented on #1226
Until we do #368, this is the _only_ way a user can change their password, and there are plenty of legitimate reasons to change your password even if you are logged in.

Personally, I don't know why we would stop users from doing this, even if it as edge behavior.

[2019-10-21 12:37] ahmed-arbisoft commented on #1232
I added a checkbox for adding the `readable_id` attribute to the CMS page.

[2019-10-21 12:54] pdpinch commented on #1235
I'm removing the "Blocker" label because that's used to indicate that this issue blocks some other issue. As far as I know, this isn't the case.

Instead, I'm adding the "On Hold" label to indicate that we need to do some additional research and/or decision making before we should work on this.

[2019-10-21 12:57] tasawernawaz commented on #368
@pdpinch Will, we allow users to change their password even when they are logged out? In design, we have email and current password fields. If user's have to be logged in then at least the email field is not necessary. What are your thoughts?

[2019-10-21 13:00] ahmed-arbisoft commented on #1235
Correct, my bad.

[2019-10-21 13:30] ahmed-arbisoft commented on #1232
@pdpinch any specific order you want the external course pages to appear in (start of `courses` list, end of `courses` list, end of `all` list etc.) on the catalog page?

[2019-10-21 13:30] asadiqbal08 commented on #1226
Personally, I would also suggest to redirect the logged-in user to `Change Password` screen but agree, as #368 is still in progress yet.

[2019-10-21 13:35] #1119 closed

[2019-10-21 13:47] pdpinch commented on #1232
I updated the description to include new fields for start date and price, since we won't get through the catalog.

[2019-10-21 13:52] pdpinch commented on #368
email address should be a read-only field until we do #369

We should change the help text under the email field to link to the customer support form so people can ask to have their address changed.

[2019-10-21 14:04] #1212 closed

[2019-10-22 08:10] #1184 closed

[2019-10-22 08:10] #1211 closed

[2019-10-22 11:13] asadiqbal08 commented on #1215
@pdpinch After inspecting this story, Here are few questions to make it clear before jumping to implementation.

1- Command will accept the following parameters in that order only.
- `--user` (The id, email, or username of the User) & `--run` (The 'courseware_id' value for CourseRun) to revoke a certificate from `CourseRunCertificate`model.
- Same for a program `--user` & `--program` (readable_id)

[2019-10-22 12:27] pdpinch commented on #1215
Thanks Ahmed. Good questions. I have answers to the first 2. 3/4 needs further discussions.

1. The parameters sounds perfect.

2. I don't think we should assume that revoking a ProgramCertificate automatically revokes the CourseRunCertificates.

3. I think it's generally a best practice to update a field ("soft delete"), rather than permanently deleting the recording.

4. Should the flag be named

[2019-10-22 12:28] pdpinch commented on #1222
This is no longer on hold, but it's low priority -- I'm moving it down the project list and anyone who wants to pick it up should check with me first.

[2019-10-22 12:31] pdpinch commented on #1233
Possibly related issue: I think the match on email is case-sensitive. I saw a user who was emailed an enrollment code at a mixed-case address. They had an existing account with an all lower-case address. When I hijacked their account, I did not see the banner message.

[2019-10-22 12:41] asadiqbal08 commented on #1215
I am ok with "revoked" instead the "status field" as I believe, either a certificate be revoked or not but not too other different statues.

[2019-10-22 12:48] pdpinch opened #1243 "set user context for Sentry"
As a developer, I'd like to know more about the user when we get a Sentry alert. Currently, in events like ... we don't capture the user, which makes it difficult to debug and provide support.

#### Acceptance Criteria:

from [Slack](https://mitodl.slack.com/archives/GG8B4C3JP/p1571748014119600):

#### Out of Scope

- If this works for xPRO, we should make similar changes to our other apps

[2019-10-22 13:37] pdpinch opened #1244 "Certificates: hide banner when printing certificate"
### Steps to Reproduce

1. Create a certificate
2. Print it (or Print Preview it)

### Expected Behavior

- Only the certificate prints

### Actual Behavior

- The banner is included in the print, along with the certificate

### Screenshot or Screencast

Screenshot of certificate:

![image](https://user-images.githubusercontent.com/430126/67291184-2b096180-f4af-11e9-86ee-0b0b4401ab8b.png)

screens

[2019-10-22 16:23] #1213 closed

[2019-10-23 00:26] pdpinch opened #1245 "add search to product admin and productVersion admin"
As an admin, I'd like to be able to easily find programs and course runs in the admin using a course/program title or a  id or a courserun id

#### Acceptance Criteria:

- [x] Add a search on text id, description, and course/program title if possible)

[2019-10-23 00:52] pdpinch opened #1246 "Pull courserun title, dates from studio"
As a course team member, I'd like to update the title of a course, or its dates in Studio, and see the update reflected in the xPRO catalog.

As an admin, I'd like studio to be the source of truth for courserun titles and dates, so I don't have to update the xPRO admin on a regular basis.

#### Acceptance Criteria:

- [x] Investigate open edX APIs for options for getting course titles and dates, i

[2019-10-23 01:02] pdpinch opened #1247 "Add price, text id to product admin list view"
As an admin, I'd like to be able to see product prices and text ids at a glance in list view, similar to the productVersion list view

#### Acceptance Criteria:

- [ ] display the current product price and text id

#### Related issues

- #1245 add search to product admin

[2019-10-23 11:15] tasawernawaz commented on #1093
@shaidar Can you confirm that we have setup a script on the edX site, can I test it on our QA server?

[2019-10-23 11:50] umarmughal824 commented on #1227
@pdpinch Can I get the little details of its workflow? I am trying to upload `mitxpro/voucher/.test/domestic_voucher` but it gives me the error even I have added **VOUCHER_DOMESTIC_.....** settings.

Here I am attaching the screenshots for the reference.
![voucher1](https://user-images.githubusercontent.com/4043989/67389490-24b0dd80-f5b4-11e9-9a98-d26a5cef0aee.png)
![voucher2](https://user-images.

[2019-10-23 12:12] sentry-io[bot] opened #1248 "KeyError: 'order' when running transfer_enrollment management command"
Sentry Issue: [XPRO-QW](https://sentry.io/organizations/mit-office-of-digital-learning/issues/1292231008/?referrer=github_integration)

[code]

[2019-10-23 12:19] pdpinch commented on #1227
Take a look at #1033 and then let me know if you still have questions.

The short story is that we try to match the voucher to a course and a coupon (with the correct company attached). The message you are getting it because there is no matching coupon.

[2019-10-23 12:25] umarmughal824 commented on #1227
@pdpinch let me see that ticket. I am discovering the code of voucher alongside so it will be fixed. thanks

[2019-10-23 13:07] ahmed-arbisoft opened #1250 "Cannot create signatory index page from cms"
### Steps to Reproduce
Go to root page in CMS. Try to add a `SignatoryIndexPage` type child.

### Expected Behavior

The CMS should allow you to add the page.

### Actual Behavior

`SignatoryIndexPage` does not appear as a valid child page candidate.

[2019-10-23 14:00] asadiqbal08 commented on #1215
@pdpinch I had a discussion with @ahmed-arbisoft too over the point#2

We believe, We should also recursively marked `Revoked` all `CourseRunCertificate` that are associated with that program and user else it seems meaningless to leave them unchanged in db. Please let us know, if you have some specific thoughts over it so I will revert my changes in [WIP-PR-HERE](https://github.com/mitodl/mitxpro/

[2019-10-23 15:58] pdpinch commented on #1215
I don't know yet what the circumstances will be where I need to revoke a program certificate. I'd rather not have to make that decision now and then regret it later. If you don't revoke all the course certificates, I get to choose at the time. And if I do want to revoke all the course certificates, I just need to run some additional management commands.

[2019-10-23 16:27] gsidebo opened #1253 "Assign coupons and send emails based on coupon assignment Sheets"
Once a coupon assignment Sheet has been created from a coupon request Sheet (reference: #1180), users will fill in email addresses to assign the coupon codes. This issue covers the work to parse the assignment sheets, create coupon assignments in the database, and send a bulk enrollment message to assigned users

Acceptance criteria:
- Running job or webhook that parses filled-out coupon assignmen

[2019-10-23 16:42] pdpinch opened #1254 "Certificates: certificate is cut off in landscape printing"
### Steps to Reproduce

1. Create a certificate
2. Click the print button.
3. In your print dialog, change to landscape mode (and turn off any browser features like URL & page numbering)
4. Print (or Preview)

### Expected Behavior

The certificate should fit completely on one page and "look nice"

### Actual Behavior

- The bounding box for the certificate gets cut off, and part of the signatures

[2019-10-23 16:44] pdpinch commented on #1244
Less important, but please also hide the hijack banner, that is used when hijacking an account. I'd like to be able to test print users' certificates and not have that get in the way.

[2019-10-23 23:59] pdpinch commented on #1248
This is blocking me from running transfer_enrollment right now.

[2019-10-24 12:13] tasawernawaz opened #1256 "allow admin to specify order_id when running transfer_enrollment"
As an admin, I sometimes need to transfer an enrollment when a user has multiple enrollments (for example, the user may have gotten a refund, and then enrolled again).

In the current implementation of the management command, I can only specify the program or run. If there are multiple, the action is taken on the first one.

If I could specify the order (by id number), then I would be able to choo

[2019-10-24 12:13] tasawernawaz commented on #1256
fyi @pdpinch

[2019-10-24 15:55] #1248 closed

[2019-10-24 21:06] gsidebo opened #1259 "Certain characters in a user's full name cause Open edX user creation failures"
### Steps to Reproduce

- Create a user with the Turkish "İ" character somewhere in their full name via the normal account creation flow in the web app

### Expected Behavior

The user is successfully created in xpro and in Open edX when they finish their profile

### Actual Behavior

The user is created in xpro, but the generated username fails validation in Open edX, so the user is not created t

[2019-10-25 12:19] pdpinch opened #1260 "Catalog: course page doesn't look good when there are no runs"
### Steps to Reproduce

1. Create a course
2. Create a course run
3. Sen the enrollment_end date in the past
2. Create a CMS page for the course

### Expected Behavior

Not sure, but there should probably be some indication of whether we will run the course again?

### Actual Behavior

See screenshot

### Screenshot or Screencast

(Optional)
<img width="1713" alt="image" src="https://user-images.g

[2019-10-25 15:29] #1244 closed

[2019-10-25 15:29] #1254 closed

[2019-10-28 12:29] #368 closed

[2019-10-28 12:45] ahmed-arbisoft commented on #1222
@pdpinch can you please confirm if any program without an upcoming start date should be filtered out from the catalog? Would the same apply for courses? Can we clarify if that would impact our SEO for the catlog page?

[2019-10-28 13:05] pdpinch commented on #1222
I asked marketing this question, and the response was that it won’t happen. There will always be a start date.

In the interests of getting this issue addressed, I suggest we leave things as they are for now.

[2019-10-28 16:58] pdpinch opened #1265 "Certificates: learner did not pass, but certificate was created anyway"
### Steps to Reproduce

This is happening currently in production. I was able to find existing certificates without a passing grade by running the following in the django shell:

[code]

The result includes staff and instructors who haven't even attempted any problems.

### Expected Behavior

If you have passed, you shouldn't get a certificate.

### Actual Behavior

It seems like every enrolled le

[2019-10-28 17:07] ahmed-arbisoft commented on #1260
@pdpinch are you suggesting we have something along the lines of "Start date: TBD" as well as center the tiles?

[2019-10-28 18:54] pdpinch commented on #1260
I need to consult with @abdulkdawson and marketing on the UI and UX. This issue isn't ready to be worked on yet.

[2019-10-29 11:00] ahmed-arbisoft commented on #1265
@pdpinch I've implemented a policy for certificates:

- You need `passed=True` and
- Your `grade` or `percentage` value needs to be greater than `0.0`

Does that sound about right to you?

[2019-10-29 11:57] sentry-io[bot] opened #1268 "checkout page in IE11 fails to handle errors properly"
I'm not sure what the user experience is here, but it seems like we are returning expected errors, (like invalid  coupon) to the browser and IE11 is failing to handle them appropriately.

Sentry Issue: [XPRO-R5](https://sentry.io/organizations/mit-office-of-digital-learning/issues/1299769560/?referrer=github_integration)

[code]

[2019-10-29 12:00] sentry-io[bot] opened #1269 "Checkout page raises Sentry error when user already enrolled in a course run"
It seems like this is an API error that should be caught in the front-end and displayed to the user. I'm not sure why it's getting raised to Sentry.

Sentry Issue: [XPRO-QN](https://sentry.io/organizations/mit-office-of-digital-learning/issues/1289532958/?referrer=github_integration)

[code]

[2019-10-29 12:20] pdpinch commented on #1265
That's correct, as long as we can still override it somehow with a whitelist.

[2019-10-29 17:02] gsidebo opened #1272 "Update coupon assignment sheets with message delivery status"
_Depends on #1253_

Once coupons are assigned via coupon assignment Sheets, we want to give our users feedback about the delivery status of the enrollment emails that are sent out when a coupon is assigned to a user. When we know an enrollment email was sent or failed to send, we will update the coupon assignment Sheet to indicate that status in a new column.

In terms of implementation, we should

[2019-10-29 17:38] pdpinch opened #1273 "Reports: Add Employee ID to Voucher Audit report"
As a member of the finance team, I would like to have the Employee ID included in the report at https://bi.odl.mit.edu/queries/852#1400 . This will help me obtain the proper information for sending invoices for Sponsorship Letters to Boeing.

#### Acceptance Criteria:

- Not all Voucher records will include an Employee ID

[2019-10-29 17:58] maxliu commented on #1273
Done. Can you take a look?

[2019-10-30 12:17] #1250 closed

[2019-10-30 13:46] ahmed-arbisoft commented on #1269
The error is being reported to Sentry although the exception is handled. This is as per @noisecapella response on #1136

_Originally posted by @noisecapella in https://github.com/_render_node/MDIzOlB1bGxSZXF1ZXN0UmV2aWV3VGhyZWFkMjAzNTI4NjMzOnYy/pull_request_review_threads/discussion_

[2019-10-30 13:51] ahmed-arbisoft commented on #1268
The error is being reported to Sentry although the exception is handled. This is as per @noisecapella response on #1136

_Originally posted by @noisecapella in https://github.com/_render_node/MDIzOlB1bGxSZXF1ZXN0UmV2aWV3VGhyZWFkMjAzNTI4NjMzOnYy/pull_request_review_threads/discussion_

[2019-10-30 19:22] rhysyngsun opened #1276 "CSRF_TRUSTED_ORIGINS should be configurable via environment vars"
Docs: https://docs.djangoproject.com/en/2.2/ref/settings/#csrf-trusted-origins

We should default to django's default (`[]`) and we should parse the env var as a list

[2019-10-30 19:57] blarghmatey opened #1277 "Add content hashing to static assets"
In order to avoid having to manually purge the Fastly cache on new deploys we should add content hashing for static assets in our build step.

[2019-10-30 20:40] gsidebo opened #1278 "Users with bad edX auth can complete orders and end up with no enrollment records"
### Steps to Reproduce

- Pick a user with invalid edX API auth credentials (or just add a line to raise an `HTTPError` somewhere in `courseware.api.get_edx_api_client`)
- Complete an order for some course run with a full-price coupon

### Expected Behavior

The course run enrollment in edX fails, but a `CourseRunEnrollment` record in xpro should exist

### Actual Behavior

The edX enrollment fail

[2019-10-31 09:30] asadiqbal08 commented on #1138
Tried to re produce it but still not getting such error locally.

[2019-10-31 11:32] asadiqbal08 commented on #1246
After looking around the [edx-platform](https://github.com/edx/edx-platform). It seems there exist a `course_api` with [public endpoint](https://courses.edx.org/api/courses/v1/courses/course-v1:IDBx+IDB1x+2T2019/) that will share the courses information along with `start, end, name` details. Instead of considering a `course_key`, It utilizes `course_run_id`.
I believe, in xPro [catalog page](https

[2019-10-31 11:46] pdpinch commented on #1246
Thanks @asadiqbal08

Unfortunately, when I hit the corresponding endpoint in xpro, I get an empty list of courses:

https://courses.xpro.mit.edu/api/courses/v1/courses/

[code]

Does this end point depend on the "course discovery service" ?

[2019-10-31 12:39] asadiqbal08 commented on #1246
@pdpinch Can you verify the [CourseOverView](https://github.com/edx/edx-platform/blob/master/openedx/core/djangoapps/content/course_overviews/models.py#L38) model there. I believe, It is fetching these information from this model instead of calling discovery service.

[2019-10-31 13:37] ahmed-arbisoft commented on #1246
@pdpinch @asadiqbal08 I think we need to enable and configure the catalog API for this. Reference:

https://course-catalog-api-guide.readthedocs.io/en/latest/course_catalog/catalog.html#get-a-list-of-all-course-catalogs

[2019-10-31 13:40] ahmed-arbisoft commented on #1246
As per @asadiqbal08 we want to avoid this because it entails getting the discovery service up. I don't know much about that yet so I'm just going to accept that as the fact and continue looking for any alternatives.

[2019-10-31 14:14] ahmed-arbisoft commented on #1246
As per the suggested CourseOverview API (`course_api`) the following info is provided for course runs:
- course and course_run readable id (both are parts of the same string, in a predefined format)
- course run start date
- course run end date
- enrollment start date
- enrollment end date
- course run title

Given that this information is available, as per my discussion with @asadiqbal08 we can d

[2019-11-01 04:59] #1265 closed

[2019-11-01 04:59] #1232 closed

[2019-11-01 05:00] #1222 closed

[2019-11-01 14:08] ahmed-arbisoft opened #1280 "Apply now button not visible on external course page"
### Steps to Reproduce
Go to external course page

### Expected Behavior
apply now button should appear

### Actual Behavior
The button doesn't appear

[2019-11-01 15:04] #1280 closed

[2019-11-01 15:20] pdpinch opened #1283 "Move /courses to /learn"
As a user, it's confusing that I can search for videos in a URL with the path /course

#### Acceptance Criteria:

- [ ] `/courses` ⇒ `/learn`

[2019-11-01 18:49] gsidebo opened #1284 "Use Service Accounts to authenticate xpro with the Google API in deployed envs"
#1225 introduced the first implementation of Google API auth, which involves an admin user granting permission to the Sheets and Drive API via standard OAuth2 Authorization Code flow. In production (and perhaps in RC/CI), we should use [Service Accounts](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) to make this authentication/authorization more manageable and more secure.

[2019-11-02 23:40] pdpinch commented on #1234
Looks like I can't share that ZenDesk ticket. Here's the workaround I used because we haven't solved this issue:

first I ran:

[code]

Then I tried forcing it:

[code]
Then I changed the enrollment end date in the catalog.

https://xpro.mit.edu/admin/courses/courserun/2

and tried again:

[code]

Progress, but also a little broken because it created an enrollment in xPRO but failed to enroll the

[2019-11-03 22:06] #1283 closed

[2019-11-03 22:06] pdpinch commented on #1283
Issue moved to [mitodl/open-discussions #2360](https://github.com/mitodl/open-discussions/issues/2360) via [**ZenHub**](https://www.zenhub.com/)

[2019-11-03 22:08] pdpinch commented on #160
Since no one is working on this, and it's in the backlog, I'm removing the assignments.

[2019-11-03 22:08] pdpinch commented on #364
Since no one is actively working on this, I'm removing the assignments.

[2019-11-03 22:09] pdpinch commented on #1033
See PR https://github.com/mitodl/mitxpro/pull/1257 for more details on what needs to be configured in a seed script for vouchers.

[2019-11-03 22:11] pdpinch commented on #1245
@ahmed-arbisoft you self-assigned this over a week ago. What's the status? If you won't start it this sprint (before Tuesday) please remove yourself in case someone can take it up.

It's not a high priority.

[2019-11-03 22:19] pdpinch commented on #1246
I would like both a scheduled task and a management command, so it will usually run automatically but I have an option to run it on demand if necessary.

From your write up, I can't tell if you have the data going in the correct direction. Studio should be the source of truth, so I want xPRO to pull the authoritative titles and dates from Studio. When Studio is updated, xPRO should be updated in s

[2019-11-04 07:50] tasawernawaz commented on #1170
@gsidebo I am still waiting on this.

[2019-11-04 07:50] tasawernawaz commented on #1093
@shaidar still waiting on this.

[2019-11-04 08:30] asadiqbal08 commented on #1246
Can we create a separate story for pulling course metadata data from OpenEdx via both management command and scheduled task ?

Did you get a chance to look around the courserun fetch details via OpenEdx API [Queryset-EndPoint](https://github.com/edx/edx-platform/blob/open-release/ironwood.master/lms/djangoapps/course_api/views.py#L163-L272) as I shared above https://courses.edx.org/api/courses/v1/

[2019-11-04 09:02] #1227 closed

[2019-11-04 10:32] ahmed-arbisoft commented on #1245
@pdpinch PR is up for this: https://github.com/mitodl/mitxpro/pull/1285

[2019-11-04 10:56] asadiqbal08 commented on #1138
Is it still a valid bug ?  as I tried it many times to generate it.

[2019-11-04 12:22] #1247 closed

[2019-11-04 12:44] #1245 closed

[2019-11-04 16:21] blarghmatey opened #1288 "Create xpro.mit.edu domain for Mailgun"
This includes creating the DKIM and SPF records for validating the domain configuration.

[2019-11-04 16:37] blarghmatey opened #1289 "Delegate xpro subdomain to Route 53 nameservers"

[2019-11-04 22:12] gsidebo commented on #1170
@tasawernawaz I think it looks like a great way to get some easy performance gains. Let's get a PR up. I think we'll just need to test that it doesn't break anything once it gets to RC

[2019-11-04 22:28] gsidebo commented on #1138
@asadiqbal08 It's still a valid bug. It was last seen today in production. I don't think we need to worry about reproducing it locally, though you can probably do that by clearing your browser cache and changing your network speed in the developer console. We should just apply some best-practice method for waiting for jQuery to load before executing any code that depends on it. Here's one blog pos

[2019-11-05 12:02] tasawernawaz commented on #1170
@gsidebo PR is up #1291, please take a look.

[2019-11-05 15:33] blarghmatey commented on #1277
This is for user-facing static assets primarily so that changes are updated in a timely fashion.

There are some assets which are managed outside of webpack so we may need to update the configuration to include them in the asset bundle.

[2019-11-06 01:35] pdpinch opened #1293 "list Unredeemed enrollment codes on dashboard"
As a learner, I’d like a way to be able to login and see any unredeemed enrollment codes that I haven’t used yet, and be able to redeem them.

As a customer support person, I'd like to be able to give users a single URL for using their enrollment code.

#### Designs and Mockups

[Enrollment codes on dashboard](https://projects.invisionapp.com/d/main#/console/17338252/393054151/preview)

#### Accep

[2019-11-06 01:36] pdpinch commented on #1233
@umarmughal824 we've decided to replace this issue with #1293.

If you still want to work on it, that would be great. But #1293 needs some design work.

[2019-11-06 01:36] #1233 closed

[2019-11-06 01:50] pdpinch commented on #1246
@asadiqbal08 I'm not sure why you want to open a separate issue. Isn't "pulling course metadata from Open edX via both management command and scheduled task" a solution to the user story in the description?

I haven't looked at the open edX code, but I do note that https://courses-rc.xpro.mit.edu/api/courses/v1/courses/ returns 0 courses, so something isn't functioning the same as it does on edx.o

[2019-11-06 01:57] pdpinch opened #1294 "Receipts"
As an xPRO customer, I’d like to get a printable receipt when I successfully complete a purchase.

As an xPRO user, I'd like to be able to access a list of all my past receipts, and be able to view and print them again, ideally with a unique URL for each receipt.

#### Designs and Mockups

- [dashboard](https://projects.invisionapp.com/d/main#/console/17338252/393054151/preview)
- [receipt page](h

[2019-11-06 02:50] pdpinch commented on #1289
Is this a DevOps task?

[2019-11-06 02:50] pdpinch commented on #1289
Is this a DevOps task?

[2019-11-06 03:12] pdpinch opened #1295 "Add Birth Year to Hubspot custom property sync"
As a member of the marketing team, I'd like to have "Birth Year" sync with Hubspot contacts so I can target adds based on age.

As s dev, I'd like to have "Birth Year" configured in the Hubspot custom properties, so we don't have to rely on manual configuration.

#### Acceptance Criteria:

- [ ] add "Birth Year" to the list at https://github.com/mitodl/mitxpro/blob/09dc837c84576d0a4a136ee21884eadf

[2019-11-06 03:15] pdpinch opened #1296 "Add order.status to Hubspot deal sync"
As a member of the marketing team, I'd like to have the order status synced on the Hubspot Line Item. This will make it easier for me to create queries that rely on Line Item properties (like product id) and order status.

#### Acceptance Criteria:

- [ ] Add order.status to the line item properties
- [x] When the order status is updated, resync the Line Item

[2019-11-06 08:18] asadiqbal08 commented on #1246
ah, I was considering this story merely as a `Discovery/Investigating` one. My general old habit.

General investigating inside the [course_overview/signals.py](https://github.com/edx/edx-platform/blob/master/openedx/core/djangoapps/content/course_overviews/signals.py), It seems, on `_listen_for_course_publish` or `_listen_for_course_delete`

"""
    Catches the signal that a course has been publi

[2019-11-06 10:01] ahmed-arbisoft opened #1297 "Preview mode does not work for certificate pages on rc/production"
### Steps to Reproduce
Go into editing a `CertificatePage` on RC or production, click on `Preview` button.

### Expected Behavior
The preview should open in a new tab.

### Actual Behavior
An internal server error (`WSGIRequest object has no attribute session`) is thrown for `hijack_tags`.

### Background
This is a known issue for `hijack` whereby an exception thrown elsewhere in the application r

[2019-11-06 13:09] ahmed-arbisoft commented on #1246
@pdpinch I need to bring this to your attention: Studio does not expose the course list API, however LMS does. Is it okay for me to pull this info from the LMS API rather than the Studio (IMHO the data would be the same anyway)?

Also, this would require another PR in https://github.com/mitodl/edx-api-client because the client has methods available for course detail API but does not have a course

[2019-11-06 14:29] blarghmatey commented on #1289
Yes. Updated the labels.

[2019-11-06 15:02] asadiqbal08 commented on #1234
I was investigating that and assume we do not need to do any changes in edx-platform to fix this issue however `defered_enrollment` is not working properly either with `--force` flag in mitxpro that need to fix.

[2019-11-06 15:08] pdpinch commented on #1234
I agree about the necessary change to the `--force` behavior in the `defered_enrollment` management command.

How will we avoid the 400 error, when the enrollment end date is in the past in Studio?

[code]

[2019-11-06 15:37] jklingen92 commented on #1296
@pdpinch Line items are already all synced after their associated deal is synced. What is the readable product id? Products are associated with Line Items already, and while I haven't been able to find the actual interface, I assume that hubspot would present that in a human readable way.

[2019-11-06 16:07] pdpinch commented on #1296
I updated the description. We are adding `order.status` to the Line Item.

I also removed the acceptance criteria about readable product id. That should be a separate issue (if we need to do it at all).

[2019-11-06 16:19] jklingen92 commented on #1296
I added it to BOTH deal and line item. Let me know if I should remove it from deal.

[2019-11-06 22:43] pdpinch opened #1301 "Screen view of certificate doesn't work well for 4 signatories"
### Steps to Reproduce

1. Create a certificate from a template with 4 signatories

### Expected Behavior

something more like this:

![image (4)](https://user-images.githubusercontent.com/430126/68344397-ee4b8600-00bc-11ea-9dc7-f6fd56e3abbc.png)

### Actual Behavior

![image (4)](https://user-images.githubusercontent.com/430126/68344297-ae849e80-00bc-11ea-8c4a-9bf106ac2334.png)

[2019-11-06 22:59] pdpinch opened #1302 "Certificate print stylesheet makes page elements too small"
### Steps to Reproduce

1. Create a certificate template and certificate
2. Print preview it (or print it)

### Expected Behavior

The certificate should comfortably fill the page, something like this:

![better cert copy](https://user-images.githubusercontent.com/430126/68345362-248a0500-00bf-11ea-88d2-187c321880a1.png)

### Actual Behavior

(from Firefox)

![bad cert](https://user-images.githubu

[2019-11-07 15:37] #1301 closed

[2019-11-07 17:21] noisecapella opened #1307 "Checkout: Validation error when user has correctly selected course runs"
There's a case where a user can get a validation error if they select valid course runs in checkout.

### Steps to Reproduce

 - Select course runs in a program and attempt to checkout. You should see the Cybersource form. Don't fill it out, we don't need to fulfill the order.
 - Make a course run invalid in some way. Setting `live=False` is probably easiest, or change the dates so it is invalid.

[2019-11-07 18:03] jklingen92 commented on #1296
Merged with #1298

[2019-11-07 18:03] #1296 closed

[2019-11-07 18:03] jklingen92 commented on #1295
Merged with #1296

[2019-11-07 18:03] #1295 closed

[2019-11-08 10:30] asadiqbal08 commented on #1234
@pdpinch strange, after allowing the `--force` flag in `MitxPro` then when I tried locally to defer an enrollment to an expired course run then I can see the corresponding entry for that expired run (with `audit` mode) in `CourseEnrollment` model in OpenEdx and, I get this message in the console.

[code]

[2019-11-08 14:10] pdpinch commented on #1234
The [message you are seeing ](https://github.com/mitodl/mitxpro/issues/1234#issuecomment-551539543) is because the xPRO code is attempting to enroll the user in a no-id-professional mode, and then when that fails it will try audit mode. This is not a fatal error, and will be fixed if I ever get around to testing #973.

In production, the enrollment is failing because the the enrollment_end date fo

[2019-11-08 16:16] pdpinch commented on #1302
@ahmed-arbisoft did you already take care of this in PR #1301?

[2019-11-08 19:42] ahmed-arbisoft commented on #1302
Not yet, I wanted to get #1301 out quickly so didn't include a fix for #1302 in there.

--

The content of this email and attachment(s) are confidential and intended
solely for the recipient(s) specified in the message. If you received this
email by error, please alert the sender by replying to this email and
follow with its deletion, so that we can ensure such an error does not
occur in future. I

[2019-11-08 19:49] pdpinch commented on #1302
Ok, that was what I intended anyway.

The course team is going to provide me with some kind of mock-up, so we'll have a better target for this.

[2019-11-09 14:36] pdpinch opened #1312 "Admin: add search for courserungrade"
As an admin, I'd like to be able to search grade records, using user's email or username

#### Acceptance Criteria:

- [x] Add search fields for user.email, user.username
- [ ] if possible, it would be more useful to filter on course run id, instead of course run name

[2019-11-09 14:47] pdpinch opened #1313 "Incorrect return message for sync_grades_and_certificates"
### Steps to Reproduce

1. Create a course in open edX
2. Create a user with a failing grade in the course
3. Run `sync_grades_and_certificates` to sync their failing grade
4. Run `sync_grades_and_certificates` again, for the specific user and course run

### Expected Behavior

The command should return a message making it clear that a) the courserungrade already exists, b) the user did not pass,

[2019-11-11 01:51] pdpinch commented on #1276
@ahmed-arbisoft can we close this?

[2019-11-11 02:46] pdpinch commented on #1246
As discussed on 11/8, there's no need to get a list of courses from studio (open edX). For each course that exists in xPRO, we would get the course title and dates from open edX. However, new courses would be added to xPRO manually via the django admin.

[2019-11-11 08:09] #1276 closed

[2019-11-11 09:18] #1226 closed

[2019-11-12 11:26] umarmughal824 commented on #1233
@pdpinch that https://github.com/mitodl/mitxpro/pull/1274 Pr work can be reused in that #1293 once the design part will be done.

[2019-11-12 14:48] pdpinch opened #1315 "SyntaxError: Unexpected token > on /create-account"
@sentry-io[bot] commented on [Tue Nov 12 2019](https://github.com/mitodl/bootcamp-ecommerce/issues/328)

The urgency of this issue depends on whether it's blocking people from creating accounts

Sentry Issue: [XPRO-M4](https://sentry.io/organizations/mit-office-of-digital-learning/issues/1234588728/?referrer=github_integration)

[code]

[2019-11-12 18:34] #1307 closed

[2019-11-12 20:00] noisecapella opened #1318 "Flaky test"
https://travis-ci.org/mitodl/mitxpro/jobs/611018129?utm_medium=notification&utm_source=github_status

    _____________________________ test_get_course_runs _____________________________

    user_drf_client = <rest_framework.test.APIClient object at 0x7f56ffb21f28>

    course_runs = [<CourseRun: CourseRun Rate play expert then case service compare.>, <CourseRun: CourseRun He such people.>, <Cour

[2019-11-13 10:20] #1259 closed

[2019-11-13 15:01] gsidebo opened #1319 "Track bulk coupon enrollments in Sheets"
If a user fully redeems a bulk coupon that was assigned in one of our coupon assignment spreadsheets, we would like to see that reflected in the spreadsheet.

Implementation:
- It probably makes the most sense to add a new column. It can be a checkbox like the coupon request sheet, or a date & time
- Coupons are redeemed individually. It should be simple and reliable enough to create a Django sign

[2019-11-13 15:07] gsidebo opened #1320 "Prevent user edits for API-only columns"
In the coupon request Sheet and coupon assignment Sheets, there are columns that should only be editable by a form or by API request, e.g.: the "Processed" column in the coupon request Sheet, the "Status"/"Status Date" columns in the coupon assignment Sheets. We'll need some way to ensure that those columns are not human-editable

[2019-11-13 16:07] gsidebo opened #1321 "Use Google Form to add coupon request rows"
Rows in the coupon request Sheet need to be directly edited by users right now. We want these rows to be added by a Google Form.

Acceptance criteria: A Google Form has been created on the example coupon request Sheet, and submitting that form produces a data row that matches the examples in the aforementioned Sheet.

This form can be copied/reproduced for the production version of that request Sh

[2019-11-14 23:59] #1243 closed

[2019-11-15 13:06] pdpinch commented on #1269
@noisecapella can we quiet these errors that are handled in the front-end?

[2019-11-15 14:58] #1215 closed

[2019-11-15 15:39] gsidebo opened #1325 "Report on coupon request errors in spreadsheet"
As an xPRO account manager, I'd like know in the spreadsheet when there has been an issue/error with my coupon request.

The most common error that we can expect is a company that doesn't exist by that exact name in the xPRO database, but any failures in parsing the sheet or creating the requested coupons should be handled and reported on in the sheet.

#### Acceptance Criteria:

- [ ] Error text

[2019-11-15 16:55] noisecapella opened #1326 "Provide a generated product description to Cybersource if it is blank"
Cybersource errors when a product description is blank. We should change it to send "(empty)" or something else instead of an empty string in the `item_{i}_name` fields.

[2019-11-17 21:47] sentry-io[bot] opened #1327 "TypeError: '<' not supported between instances of 'datetime.datetime' and 'NoneType'"
Sentry Issue: [XPRO-P0](https://sentry.io/organizations/mit-office-of-digital-learning/issues/1262395821/?referrer=github_integration)

[code]

[2019-11-17 21:49] pdpinch commented on #1327
This _might_ be a data issue on CI. I haven't seen this error come up on RC or production.

[2019-11-18 12:09] #1302 closed

[2019-11-18 13:52] pdpinch commented on #1326
Is product description different from product name?

[2019-11-18 13:55] pdpinch opened #1329 "Success message when applying coupon"
As a user on the /checkout page, I'd like to get a confirmation message when my coupon was successfully applied.

The coupon discount is reflected in the price, but it would be nice to have a message displayed closer to the input field.

#### Designs and Mockups

TBD

#### Acceptance Criteria:

- [ ] Success message
- [ ] Clear success message when coupon removed, or replaced by an invalid coupon

[2019-11-18 16:26] blarghmatey opened #1331 "Add USE_X_FORWARDED_HOST to settings"
In order for the Fastly configuration to work properly we need to set the `USE_X_FORWARDED_HOST` Django setting, overriding the `Host` header that is getting passed from the CDN. This is currently manifesting in a wrong hostname being used in account verification emails, but may have effects elsewhere as well. We will likely want to control this via an environment variable which should probably de

[2019-11-18 17:12] pdpinch commented on #1331
See https://docs.djangoproject.com/en/2.2/ref/settings/#use-x-forwarded-host for context

[2019-11-18 19:59] gsidebo opened #1333 "Configure settings for bulk coupon spreadsheets"
#### Summary
1. **Add/change settings:**

- `DRIVE_SERVICE_ACCOUNT_CREDS` - The string-ified, single-line contents of the service account auth json, e.g.: `{"type": "service_account",  "project_id": "mitxpro",  "private_key_id": "...", ...}`
- `DRIVE_SHARED_ID` - The ID of the shared Google Drive. This is equal to the ID of the top level folder of said shared Drive (can be copied from the URL)
- `

[2019-11-19 08:54] #1327 closed

[2019-11-19 10:43] #1173 closed

[2019-11-19 13:26] asadiqbal08 opened #1334 "Certificate - Verification link is getting cut off"
### Steps to Reproduce

Visit a web certificate over mitxpro and take a print.

### Expected Behavior
Verification link (added by browser) should not getting cut off on print version.

### Actual Behavior
Verification link (added by browser) is getting cut off on print version.
(Optional)

### Screenshot or Screencast

![Clipboard - November 19, 2019 6-23 PM](https://user-images.githubusercontent.

[2019-11-19 14:56] umarmughal824 commented on #1334
@pdpinch The header and footer of the print view are being generated by browsers (firefox/chrome) itself and we have no control over it. I tried to change it with CSS styling but it's not letting me change it. Here I have shared the screenshots for your understanding.

1. See the default behavior of Print view it has set the header like
**TITLE > BLANK > URL**
![Screenshot from 2019-11-19 19-48-25

[2019-11-19 14:59] asadiqbal08 commented on #1334
so you said, It is browsing printing setting to look around ?

[2019-11-19 14:59] umarmughal824 commented on #1334
@pdpinch If we really need that **VERIFICATION LINK**, we should introduce it from our HTML code rather than relying on browsers.

What do you suggest?

[2019-11-19 15:01] umarmughal824 commented on #1334
yes @asadiqbal08. It's browser default print settings. Each browser has its own which varies in all.

[2019-11-19 16:28] sentry-io[bot] opened #1336 "HTTPError: 403 Client Error: Forbidden for url: https://courses.edx.org/oauth2/access_token/"
Sentry Issue: [MICROMASTERS-26K](https://sentry.io/organizations/mit-office-of-digital-learning/issues/781840968/?referrer=github_integration)

[code]

[2019-11-19 19:01] #1336 closed

[2019-11-19 19:01] pdpinch commented on #1336
Issue moved to [mitodl/micromasters #4466](https://github.com/mitodl/micromasters/issues/4466) via [**ZenHub**](https://www.zenhub.com/)

[2019-11-19 20:10] ahmed-arbisoft opened #1339 "GTM configuration for purchase tracking"
As a digital marketer, I'd like to track purchases through Google Tag Manager.

#### Acceptance Criteria:

- [ ] Add settings to production GTM container for capturing following purchase event values
  - [ ] Event name: "purchase"
  - [ ] Transaction identifier pushed to variable "transactionId" (e.g: T-123456)
  - [ ] Transaction total amount pushed to variable "transactionTotal (e.g: 99.99)
  -

[2019-11-19 20:12] #1331 closed

[2019-11-19 20:13] ahmed-arbisoft commented on #1339
@pdpinch I created this issue so you could relay the information to marketing team so they could make corresponding changes to their GTM container on production. Leaving this here as opposed to chat so you could come back and refer to it later if necessary.

The second level list details all the values and their corresponding variable names that will be available on the `purchase` event trigger. M

[2019-11-20 12:26] #1234 closed

[2019-11-20 12:26] #1256 closed

[2019-11-22 08:02] asadiqbal08 commented on #1334
Can we close this bug ?

[2019-11-22 13:19] pdpinch commented on #1334
It’s still a problem for at least one person on the course team.

But we haven’t been able to reproduce it on any other computer besides hers.

[2019-11-22 14:47] ahmed-arbisoft opened #1343 "Configure service worker auth token"
#### Summary
Required by #1314

- `OPENEDX_SERVICE_WORKER_API_TOKEN` - Should be an edX auth token for a staff user, replaces `OPENEDX_GRADES_API_TOKEN` as the single auth token that will be used by all service workers for accessing edX

Once #1314 is deployed, `OPENEDX_GRADES_API_TOKEN` can be removed from the environment.

#### Applicable Environments

- [x] Apply configuration to CI
- [x] Apply

[2019-11-25 02:14] pdpinch commented on #1294
I updated the description and converted this to an epic.

[2019-11-25 02:15] pdpinch opened #1344 "When purchase is fulfilled, email receipt to the user"
As a user who has made a purchase, I would like to get a copy of the receipt by email.

#### Designs and Mockups

- [email](https://projects.invisionapp.com/d/main#/console/17338252/394409247/preview)

#### Acceptance Criteria:

- [ ] When purchase is fulfilled, email receipt to the user
- [ ] If the email address specified in Cybersource is different from the email address in the xPRO app, send i

[2019-11-25 02:15] pdpinch opened #1345 "When purchase is fulfilled, create a receipt page"
As an xPRO customer, I’d like to get a printable receipt when I successfully complete a purchase.

As an xPRO user, I'd like to be able to access a list of all my past receipts, and be able to view and print them again, with a unique URL for each receipt.

#### Designs and Mockups

- [receipt page](https://projects.invisionapp.com/d/main#/console/17338252/393054150/preview)

#### Acceptance Criter

[2019-11-25 02:16] pdpinch opened #1346 "Add link to receipt(s) to dashboard"
As an xPRO customer, I’d like to get a printable receipt when I successfully complete a purchase.

As an xPRO user, I'd like to be able to access a list of all my past receipts, and be able to view and print them again, ideally with a unique URL for each receipt.

As a customer support person, I'd like to be able to give users a URL for where to find their receipts.

#### Designs and Mockups

- [d

[2019-11-25 10:38] asadiqbal08 commented on #1345
@pdpinch a question, any particular document to setup cybersecure Dev environment for completing mitxpro checkout process ?
`CYBERSOURCE_SECURE_ACCEPTANCE_URL`

[2019-11-25 20:46] #1180 closed

[2019-11-25 20:47] #1253 closed

[2019-11-25 20:48] #1272 closed

[2019-11-25 21:13] gsidebo opened #1348 "Handle changes to bulk coupon assignment spreadsheets via webhook/push notification"
As a bulk enrollment admin/account manager, I would like Sheets-based bulk coupon assignments to be handled automatically when changes are made to the spreadsheet instead of waiting for a set time period.

#### Acceptance Criteria:

- [ ] Feature flag added to turn on webhook-based coupon assignment sheet handling
  - Running job to handle assignment sheet changes should be turned off if this feat

[2019-11-25 21:14] #1284 closed

[2019-11-25 22:52] gsidebo opened #1350 "Manage coupon request spreadsheet webhook via task"
Our current approach to setting up file watches (webhooks) for bulk enrollment spreadsheets does not account for the automatic (and silent) expiration of those file watches.

Short summary of the problem with Google's file watch endpoint that I posted on Slack:

[2019-11-26 16:42] pdpinch opened #1351 "Hubspot: Enable source channel tracking by passing cookie to new contacts"
After consultation with Hubspot, we have determined that we need to make a call to their Forms API and send them the user's email and the hubspot cookie, before we create a Hubspot Contact using the ecommerce API. This will allow Hubspot to join the user history on the cookie. They will also de-dupe Contacts based on the email address.

Documentation for the forms API can be found at https://devel

[2019-11-26 16:43] pdpinch commented on #1351
Can/should anything be done about existing contacts?

[2019-11-26 16:46] pdpinch opened #1352 "Hubspot: add product id property to line item object"
#### Acceptance Criteria:

- [ ] Create a "product id" property on the line item object when syncing an order
- [ ] populate it with `ProductVersion.text_id`

[2019-11-26 17:43] pdpinch commented on #1351
In production, we want to use the form id 9ada5d38-33ee-415c-8cb2-9d72e735b1d5

[2019-11-26 19:15] noisecapella commented on #1345
@asadiqbal08 You can use `https://testsecureacceptance.cybersource.com/pay` for that environment variable

[2019-11-26 23:15] pdpinch commented on #1339
Thanks @ahmed-arbisoft . Our marketing team has a follow-up question:

[2019-11-27 10:41] ahmed-arbisoft commented on #1339
@pdpinch you can relay the following:

The process is as follows:
1. User clicks checkout, is taken to CyberSource in order to make payment.
2. When customer completes payment, they are redirected to xPRO with payment information.
3. Server parses this information and injects it into the javascript.
4. Javascript pushes a "purchase" event with the variables and values mentioned before.

What they

[2019-11-28 15:17] #1033 closed

[2019-12-02 18:58] #1325 closed

[2019-12-03 10:39] umarmughal824 commented on #1346
@pdpinch can you please grant me invision access?

[2019-12-03 10:50] asadiqbal08 commented on #1346
meanwhile, you can get an idea from screenshot below:

<img width="1164" alt="Screen Shot 2019-12-03 at 3 49 20 PM" src="https://user-images.githubusercontent.com/7334669/70044622-88cbb600-15e4-11ea-9fa7-f9e8729d0a2a.png">

[2019-12-03 15:07] pdpinch opened #1358 "Dashboard: restyle "course" and "program" labels"
As a user, it's confusing that the "course" and "program" labels are as prominent as the "View course" button.

#### Designs and Mockups

See https://projects.invisionapp.com/d/main?origin=v7#/console/17338252/393054151/preview?scrollOffset=1325.4544677734375

#### Acceptance Criteria:

- [ ] Instead of the "banner" style, make the labels simple text

[2019-12-03 15:53] gsidebo commented on #1321
Closed by #1323

[2019-12-03 15:53] #1321 closed

[2019-12-03 17:58] gsidebo opened #1359 "Prevent repeated processing of failed coupon request rows"
#1325 introduced a feature where error messages are added to coupon request rows in the spreadsheet if those requests fail due to things like invalid product ID, company, etc. The problem now is that we attempt to process those failed rows repeatedly even if no changes were made to the row and they are guaranteed to fail again.

We should do one of two things:
1. Completely prevent any row from be

[2019-12-03 18:22] gsidebo commented on #1348
There are 2 main drawbacks to our current practice of processing coupon assignment sheets with a running job:
1. Users typically will not receive timely feedback for changes they make.
2. Depending on the schedule of the job, the sheet may be processed while the user is still finalizing their edits. This could result in unintended coupon assignments.

Switching to webhooks would have 2 main advant

[2019-12-03 21:20] pdpinch commented on #1351
To be more specific, we can wait until after the user has verified their email to make the post to the Forms API. It just needs to be before we make the call to create the Contact.

[2019-12-04 21:31] pdpinch commented on #1352
After consulting with Hubspot, the recommendation is to add this property to the line item instead of the production.

I've updated the issue description.

[2019-12-05 11:21] asadiqbal08 commented on #1344
@abdulkdawson in the email receipt design, I am seeing date in b/w user name at top.

<img width="696" alt="Screen Shot 2019-12-05 at 4 19 40 PM" src="https://user-images.githubusercontent.com/7334669/70230928-2c4ecf00-177b-11ea-8421-d402ccda96a4.png">
Is it correct ?

[2019-12-05 11:50] pdpinch commented on #1344
That’s just my test user’s full name, copied from a test mail.

I have a lot of user accounts, so I add the date to the full name to distinguish them.

[2019-12-05 14:36] pdpinch opened #1368 "open edX: set COURSE_DEFAULT_INVITE_ONLY to True"
As a course admin on xPRO, I don't want anyone to enroll themselves in a course. Only the xPRO app should enroll users, after they have paid or used an enrollment code.

#### Summary

Describe where/how to generate these new values

- `COURSE_DEFAULT_INVITE_ONLY` - True -- this should mean that any new courses, when they are created, will default to being invitation only, which will hide the "enro

[2019-12-05 14:51] #1358 closed

[2019-12-05 18:23] pdpinch opened #1370 "Redirect service for mitxpro.mit.edu"
As a user, I'd like mitxpro.mit.edu certificate URLs to continue working, even after edx.org shuts down the whitelabel site.

As a member of the marketing team, I'd like all other requests for URLs to mitxpro.mit.edu to be redirected to xpro.mit.edu

#### Acceptance Criteria:

- [x] All requests to the /certificates path get redirected to the same path on courses.edx.org. For example, https://mitx

[2019-12-05 20:20] pdpinch commented on #1370
I just discovered that there's also a web server at https://certificates.mitxpro.mit.edu/ -- we should leave that as is for now.

[2019-12-05 21:13] gsidebo opened #1372 "Add sheets feature tests"
Due to (1) some shifting requirements as we figured out what we needed, and (2) the need to get a functional MVP working quickly, there are parts of the `sheets` app that are not covered by tests. This issue covers the work to bring that app to our normal test coverage standards.

[2019-12-06 16:23] #1352 closed

[2019-12-06 16:23] #1351 closed

[2019-12-06 16:51] pdpinch commented on #1344
@asadiqbal08 I'd like to put this behind a feature flag. It can be the same as the one I asked for in #1367.

[2019-12-06 21:09] #1345 closed

[2019-12-09 10:21] #1246 closed

[2019-12-09 15:23] ahmed-arbisoft commented on #1343
@blarghmatey @shaidar I've confirmed that this settings exists on RC, could one of you please verify and check the boxes for CI and production?

[2019-12-09 18:43] sesterki opened #1375 "Add HUBSPOT_CREATE_USER_FORM_ID environment variable"
#### Summary

- `HUBSPOT_CREATE_USER_FORM_ID`
9c823b8c-5db8-42b9-8a93-c411ceb55aaf on RC
9ada5d38-33ee-415c-8cb2-9d72e735b1d5 on Production

#### Applicable Environments

- [x] Apply configuration to RC
- [x] Apply configuration to Production

[2019-12-09 20:08] shaidar commented on #1375
@sesterki This has been deployed on RC. Please let me know once testing is done and I can then go ahead and apply it to production

[2019-12-09 20:59] #1319 closed

[2019-12-10 11:39] ahmed-arbisoft opened #1378 "Enable receipts features"
#### Summary
Enable the receipts feature to display order receipts on xPRO.

- `ENABLE_ORDER_RECEIPTS` - set to `True` to enable receipts feature

#### Applicable Environments

- [x] Apply configuration to CI
- [x] Apply configuration to RC
- [ ] Apply configuration to Production

[2019-12-10 11:39] ahmed-arbisoft commented on #1378
@shaidar could you please go ahead and get this deployed to CI and RC? @pdpinch let them know when to configure this on Production.

[2019-12-10 14:19] #1346 closed

[2019-12-10 17:20] pdpinch commented on #1368
I'm having second thoughts about this. Setting "invitation only" to True on studio seems to have the effect of preventing enrollments via API.

[2019-12-10 17:28] pdpinch opened #1380 "Bulk Enrollment: include product ID in sheet name"
As a member of the sales or the customer support team, I would like to be able to quickly scan the folder on enrollment sheets and find the ones that are related to a product, company or contract.

#### Acceptance Criteria:

- [ ] The name of the enrollment sheet should contain:
  -  [ ] the company name
  -  [ ] the Salesforce contract number (aka xPRO `transaction_id`
  -  [ ] the product ID
- [

[2019-12-10 17:31] pdpinch opened #1381 "Bulk Enrollment: keep track of user requesting the codes"
As a member of the finance team, I'd like to be able to find out whom from my team filled out the form for the enrollment codes.

#### Acceptance Criteria:

- [ ] Turn on the Google form feature that captures the email of the person who filled out the form
- [ ] make sure that that info doesn't break anything having to do with enrollment code processing.

#### Out of Scope

- It would be nice to u

[2019-12-10 17:43] #1312 closed

[2019-12-10 18:54] markbreedlove commented on #1370
What level of fault tolerance do we need? For example, a single EC2 instance versus a couple of instances in different availability zones behind a loadbalancer.

[2019-12-10 20:05] pdpinch opened #1384 "Bulk Enrollment: populate form with list of companies pulled from another sheet"
As a member of the finance team, I would like a self-service mechanism to add new companies to the enrollment code request form.

#### Acceptance Criteria:

- [ ] Populate the company drop-down on the form with company names from https://docs.google.com/spreadsheets/d/1uJYAWLedULjoBZcrhbS7XwARrAMSy8EL0RuNTHBsT0c/edit?usp=drive_web&ouid=109280824144830876334
- [ ] When submitting the form with a co

[2019-12-10 21:02] pdpinch opened #1385 "Management command to create enrollment in closed course"
As a course team member, sometimes I need to have someone enrolled in a closed course. For example, a new faculty member is joining the team, and they want to see how a prior course is organized.

#### Acceptance Criteria:

- [x] Management command that takes as inputs:
  - `--user` (username or email)
  - `--run` courserun.courseware_id ~~or program.readable_id~~
  - `--code` an enrollment code
-

[2019-12-11 13:19] pdpinch commented on #1297
@ahmed-arbisoft it seems to me like the hijack failure is a side effect, rather than the root cause. What is the primary exception, and how can we fix it?

[2019-12-11 13:20] pdpinch commented on #1297
If the django-hijack patch actually fixes the issue, we can fork django-hijack and use that until the fix gets merged upstream.

[2019-12-11 15:04] abdulkdawson commented on #1329
@pdpinch Here is the Discount Success Message mock. [https://projects.invisionapp.com/d/main#/console/17338252/397339754/preview](https://projects.invisionapp.com/d/main#/console/17338252/397339754/preview)

[2019-12-11 15:09] pdpinch opened #1386 "Checkout: Display success message when coupon is successful"
As a user, I'd like to know that my coupon was applied successfully.

#### Designs and Mockups

A message that displays near the coupon form would be helpful: https://projects.invisionapp.com/share/ZMV7ZKLEPBF/#/screens

#### Acceptance Criteria:

- [x] display success message when coupon is successfully applied -- both via the form and via query param in the URL (i.e. `?code=COUPON`)

[2019-12-11 15:57] shaidar commented on #1378
@ahmed-arbisoft Applied to both CI and RC

[2019-12-11 19:08] #1380 closed

[2019-12-11 20:07] pdpinch opened #1388 "Reports: included b2b purchases in cybersource reconciliation report"
As a finance team member, I need to reconcile credit card purchases made via cybersource, whether they be single b2c purchases or bulk b2b purchases.

#### Acceptance Criteria:

- [ ] Include orders recorded in the `b2border` table in the Cybersource Reconciliation report

[2019-12-11 21:24] pdpinch opened #1389 "Bulk purchases: omit courses that aren't in the catalog"
As a bulk purchaser, I only want to see courses in the drop-down list that I can actually purchase.

#### Screen shot

![image](https://user-images.githubusercontent.com/430126/70724501-b8577e00-1cc8-11ea-920a-b104bf76eea4.png)

#### Acceptance Criteria:

- [x] add a field `visible_in_bulk_form` to the product model, default to true
- [x] if `visible_in_bulk_form` is `True` the product should be l

[2019-12-12 13:14] mbertrand opened #1390 "Unchecking on AddToListDialog sometimes unchecks the wrong box"
### Steps to Reproduce

- Make a few lists
- Check a few lists on the AddToListDialog then close
- Reopen the dialog and uncheck some of the boxes

### Expected Behavior

The resource is removed from that list and the box you clicked on is unchecked

### Actual Behavior

The resource is removed from that list and sometimes another box you didn't click on is unchecked

[2019-12-12 13:16] #1390 closed

[2019-12-12 13:25] #1293 closed

[2019-12-12 13:59] markbreedlove commented on #1370
We're going to use the existing amps-redirect-operations-0 server for this.

[2019-12-12 14:18] pdpinch opened #1391 "Include user's street address in export compliance notifications"
As a customer service representative, I would like to get see the user's street address when I get notified about an export compliance violation. The address is a critical piece of information in deciding how to proceed with a user who has been blocked from creating an account.

#### Acceptance Criteria:

- [ ] Include the address that was sent to the exports compliance service in the email templa

[2019-12-12 14:26] pdpinch commented on #1375
@sesterki @mitodl/devops what's the status of this?

[2019-12-12 15:18] pdpinch commented on #1389
I added a screenshot from the production site with some of courses we want to omit.

[2019-12-12 15:47] pdpinch opened #1392 "Bulk purchases: change order ID from "b2b" to bulk"
As a finance team member, I'd like to be able to easily identify bulk credit card purchases and distinguish them from b2b purchases that were not made by credit card.

#### Acceptance Criteria:

- [ ] Change this constant to `"xpro-bulk-"`

[2019-12-12 15:50] pdpinch opened #1393 "Bulk purchases: add a field for Contract number"
As a finance teammember, I'd like to have bulk purchases associated with a contract in Salesforce. The easiest way to do this is to add an optional field to the form, which can be pre-populated using a query string.

#### Acceptance Criteria:

- [ ] Add an optional "contract number" field to the form
- [ ] Allow the value to be set by a query string in the URL, i.e. ?contract=123456789
- [ ] the f

[2019-12-12 15:57] pdpinch opened #1394 "Bulk Purchases: allow contract number, product_id and coupon code to be specificed in URL"
As a member of the sales team, I'd like to be able to send out a URL to a customer for bulk purchases with as much info as possible pre-filled.

#### Acceptance Criteria:

- [ ] Allow form values to be specified via query param, in particular:
  - product id (whether courserun or program) -- ideally this would be the readable id
  - coupon code
  - contract number (see #1393)

#### Questions

- Ar

[2019-12-12 16:03] pdpinch opened #1395 "Delay certificate creation by a configurable number of hours"
As a course team member, I'd like to be able to delay certificate creation by a standard amount (e.g. 48 hours) to give me time to review any users who need a little help completing the course.

#### Acceptance Criteria:

- [x] Add a server setting `CERTIFICATE_CREATION_DELAY_IN_HOURS` with a default value of 48 hours
- [x] Only create course certificates when it has been at least that many hours

[2019-12-12 16:03] pdpinch commented on #1395
Let me know if the setting name is clear, or too long.

[2019-12-12 17:04] pdpinch opened #1398 "bulk purchases: hide login, signup and site banner"
As a user make a bulk purchase, I don't need to sign in.

As a signed-in user making a bulk purchase, I don't want to be distracted by site promotions or other banner messages.

#### Acceptance Criteria:

- [x] Remove login / sign up from header on /ecommerce/bulk
- [x] Remove site banner from /ecommerce/bulk

[2019-12-12 17:07] #1344 closed

[2019-12-12 17:43] pdpinch opened #1399 "Next parameter isn't preservered in oauth flow with open edX"
### Steps to Reproduce

1. Make sure you are logged out of open edX.
2. Log in to xPRO and visit your dashboard, with at least one enrollment
3. Click on the link to the courseware

### Expected Behavior

- After authenticating open edX to xPRO, you should end up on the courseware page

### Actual Behavior

- After authenticating, your browser is directed to the open edX dashboard.
- If the user i

[2019-12-12 17:47] #1359 closed

[2019-12-12 18:41] pdpinch commented on #1399
@rhysyngsun has a guess:

https://github.com/mitodl/mitxpro-openedx-extensions/blob/master/mitxpro_core/middleware.py#L9-L11

[2019-12-12 19:51] pdpinch opened #1404 "CMS: display product id when creating new course and program page"
As a CMS user I can't tell the difference between courses (and programs) that have the same name but different product ids, like the Boeing versions of courses.

#### Acceptance Criteria:

- [x] When adding a new course or program page, the drop-down list of courses/programs should display readable product ids instead of titles

[2019-12-12 20:25] #1381 closed

[2019-12-12 22:56] sesterki commented on #1375
As long as the configuration has been added this should all be good. The config was added manually on RC previously and the two tasks I did that required the changes worked.

[2019-12-13 08:31] asadiqbal08 commented on #1389
@pdpinch after looking into the A/C for this, One thing I need to understand from this statement.
`an inactive course or an inactive program does not display.`

- Are you pointing to `in_active` flag in product model here ?

<img width="1263" alt="Screen Shot 2019-12-13 at 1 29 58 PM" src="https://user-images.githubusercontent.com/7334669/70785610-afd87380-1dac-11ea-9274-59ac158c152b.png">

[2019-12-13 13:55] rhysyngsun commented on #1239
This came back overnight on the checkout page

[2019-12-13 15:30] asadiqbal08 commented on #1389
unassigned myself due to un availability in next week.

[2019-12-13 15:54] maxliu commented on #1388
columns checklist

- [ ] cybersource_transaction_id
- [ ] order_id
- [ ] order_creation_date_est
- [ ] order_updated_date_est
- [ ] order_status
- [ ] user_id
- [ ] learner_email
- [ ] product_name
- [ ] product_number
- [ ] number_of_courses
- [ ] number_of_seats
- [ ] product_description
- [ ] program_run
- [ ] course_runs
- [ ] list_price
- [ ] percent_discount
- [ ] coupon_code
- [ ] coupon_ta

[2019-12-13 16:40] pdpinch commented on #1388
As far as I know, user_id, coupon_tag and quote_number are not included in bulk/b2b purchase. They can be left blank.

[2019-12-13 16:41] pdpinch commented on #1388
As far as I know, user_id, coupon_tag and quote_number are not included in bulk/b2b purchase. They can be left blank.

[2019-12-13 16:41] pdpinch commented on #1388
As far as I know, user_id, coupon_tag and quote_number are not included in bulk/b2b purchase. They can be left blank.

[2019-12-13 16:44] maxliu commented on #1388
OK. Another question, how do we distinguish B2B and non-B2B orders? I can add a column though.

[2019-12-13 17:48] #1384 closed

[2019-12-13 18:36] gsidebo opened #1408 "Grant permissions to Google Script for production coupon request sheet"
#### Summary

In order to support spreadsheet-sourced company names in one of our Google Forms (#1384), we are using a script. The script has been created for the production enrollment code request Sheet, but we need to grant permissions to that script so that it can update the relevant Form values. We will want the devops

These are the steps that I followed to grant permissions to a script in my

[2019-12-13 19:40] pdpinch opened #1410 "Receipts: email body doesn't display correct course name"
### Steps to Reproduce

1. Purchase a courserun on RC, such as product id 77, Additive Manufacturing
2. Read the email that arrives

### Expected Behavior

- Email body starts with "You have been enrolled in Additive Manufacturing... "

### Actual Behavior

- Email body starts with "You have been enrolled in Negotiating and Applying Influence and Power... "

This line needs to be templatized with

[2019-12-13 20:06] asadiqbal08 commented on #1410
Fix: https://github.com/mitodl/mitxpro/pull/1411
feel free to review.

[2019-12-13 21:14] gsidebo opened #1412 "Remove/blank Vault value for all environments besides RC"
#### Summary

The `DRIVE_SHARED_ID` setting needs to be removed/blanked in Vault for all environments besides RC. The only environment that uses an xPRO sheets folder inside of a shared drive is RC, and if that setting is present anywhere else, certain API requests will fail.

[2019-12-15 14:30] #1410 closed

[2019-12-16 10:02] umarmughal824 commented on #1389
@pdpinch I am waiting for your response on @asadiqbal08 comments.

[2019-12-16 10:03] umarmughal824 commented on #1389
@pdpinch I am waiting for your response on @asadiqbal08 comment.

[2019-12-16 11:18] pdpinch commented on #1389
I think that’s correct, but I would like you to look at how this was implemented in the catalog page, by @tasawernawaz or @ahmed-arbisoft

[2019-12-16 11:38] ahmed-arbisoft commented on #1395
No issues there

[2019-12-16 11:42] tasawernawaz commented on #1389
@pdpinch thats correct.

[2019-12-16 11:42] ahmed-arbisoft commented on #1297
From @blarghmatey

Although, it's possible that Wagtail has since exposed some configuration for handling how the preview is managed, so it might be worth investigating that a bit first.

Looks like this isn't just a hijack issue, more towards Wagtail's storage of preview information in the session. I'm continuing to dig on configurability of the same on Wagtail.

[2019-12-16 11:44] #1170 closed

[2019-12-16 11:50] tasawernawaz commented on #1392
@pdpinch could you please point me to the constant which has to be changed.

[2019-12-16 12:34] pdpinch commented on #1392
https://github.com/mitodl/mitxpro/blob/bcafd3dc57e8ee6c8e463382f924709b5a5cfb0e/b2b_ecommerce/constants.py

[2019-12-16 13:39] pdpinch commented on #1388
The order id from Cybersource will be different. It shows up in the receipt table, in req_reference_number.

[2019-12-16 14:10] pdpinch opened #1416 "Courses: MITPE Fake course shouldn't be indexed"
### Steps to Reproduce

1. https://discussions-rc.odl.mit.edu/learn/search?q=MITPE%20Fake%20shell

### Expected Behavior

Whatever this course is, it shouldn't be in the index.

### Actual Behavior

![image](https://user-images.githubusercontent.com/430126/70913358-dfbd8c00-1fe3-11ea-9338-9fa43a15f1e6.png)

[2019-12-16 16:57] blarghmatey commented on #1412
Updated the production value to be an empty string.

[2019-12-16 16:57] #1412 closed

[2019-12-16 17:03] #1289 closed

[2019-12-16 18:36] #1350 closed

[2019-12-16 18:36] gsidebo opened #1417 "Use batch API to share spreadsheets"
Our Google Sheets client library (`pygsheets`) has an API method to share a spreadsheet, but it lacks a method for sharing to multiple users in a single request. When the list of shared users is somewhat long (as it is for us in production), this causes a pretty significant performance penalty, and the large number of API requests very likely contributes to occasional 429/500 errors we've seen whi

[2019-12-16 18:41] blarghmatey commented on #1035
This has been added to the xpro.mit.edu TXT record.

[2019-12-16 18:41] #1035 closed

[2019-12-16 18:42] shaidar commented on #1375
@pdpinch Should we go ahead and add this to production?

[2019-12-16 18:43] shaidar commented on #1375
This is already running in production.

[2019-12-16 18:43] #1375 closed

[2019-12-16 19:00] shaidar opened #1418 "Unable to fetch course list"
### Steps to Reproduce
Make the following call to courses-rc
`curl -L -k  -H "X-Access-Token: <access_token>" -H "X-EdX-Api-Key: <api_key>" https://courses-rc.xpro.mit.edu/api/courses/v1/courses/`

### Expected Behavior
Authenticated call (staff user with a valid token) should return a list of courses and details

### Actual Behavior
Making an authenticated call to openedx `courses/api/v1/courses`

[2019-12-16 19:58] shaidar commented on #1418
The theory is that it appears that in the edx-api-client `CourseDetails` object does not pass a `username` to the `course_detail` function (lms/djangoapps/course_api/api/course_detail) which when calling the `get_effective_user` without that username ends up returning an `AnonymousUser`

[2019-12-16 20:39] gsidebo opened #1419 "Report on invalid email addresses in coupon assignment sheets"
If a user enters an incorrectly-formatted email address (e.g.: `myemail@example.com!`) in a coupon assignment sheet (#1337), the "Status" column is not updated to reflect that error. This is in contrast to a nonexistent email address – if the email is valid but doesn't exist, we do update that column since Mailgun logs that event (#1272).

[2019-12-16 21:27] gsidebo opened #1420 "Implement feature flags properly"
[open-discussions](https://github.com/mitodl/open-discussions) has a formal way of [declaring and checking the state of feature flags](https://github.com/mitodl/open-discussions/blob/master/open_discussions/features.py). In mitxpro, feature flags are supported in that you can define them in env variables and they will make it into settings, but the declaration and state-checking bits are missing.

[2019-12-17 02:14] pdpinch commented on #1380
![](https://github.trello.services/images/mini-trello-icon.png) [Add more metadata to the file name of the enrollment code assignment sheet](https://trello.com/c/colWNXdN/4-add-more-metadata-to-the-file-name-of-the-enrollment-code-assignment-sheet)

[2019-12-17 02:14] pdpinch commented on #1384
![](https://github.trello.services/images/mini-trello-icon.png) [Maintain a list of companies in google sheets](https://trello.com/c/kxXrwHDR/3-maintain-a-list-of-companies-in-google-sheets)

[2019-12-17 02:24] pdpinch opened #1421 "Report: Program Certificates"
As a PM, I'd like to be able to download a list of all learners who have earned a program certificate (in on program), along with their names and addresses. I will send this to the printing company that prints and ships physical copies of the program certificates.

#### Designs and Mockups

[xPRO.Printed.Certificate.Info.Template (1).xlsx](https://github.com/mitodl/mitxpro/files/3971132/xPRO.Print

[2019-12-17 02:41] pdpinch opened #1422 "Reports: Add coupon name to Combined Revenue Recognition Report"
As a finance team member, I'd like to know the coupon name associated with each enrollment code in the [Combined Revenue Recognition Report](https://bi.odl.mit.edu/queries/672#1137). This will help me link revenues back to the contract.

in other words:

Can you please add this field to query 672 (https://bi.odl.mit.edu/queries/672#1137) after Column Q (Coupon_code)?

[2019-12-17 10:35] ahmed-arbisoft commented on #1418
@shaidar correct, I tried the sync command as well as the standalone curl request and the course detail does not seem to work for `COURSE_ABOUT_VISIBILITY_PERMISSION` with any value other than `see_exists`. Your analysis looks to be correct, whereas edX should identify my user by the access token, it isn't really getting that user back in reality. The client ends up being an `AnonymousUser` as you

[2019-12-17 10:39] ahmed-arbisoft commented on #1418
The `edx_api.client` uses the authorization header in the format `Authorization: Bearer <access-token>`. I've tried that as well, to no avail.